[2021-06-02 05:40] QAZIMAAZARSHAD opened #1 "Make change-language function working"
![image](https://user-images.githubusercontent.com/56196640/120430443-a8d46500-c394-11eb-9254-244685f75430.png)

If not the entire form you can only change the language of headings in the form.

[2021-06-02 05:52] QAZIMAAZARSHAD opened #2 "Make zoom in/zoom out buttons functional"
![image](https://user-images.githubusercontent.com/56196640/120430550-d02b3200-c394-11eb-9087-331def4ccdd9.png)

[2021-06-02 05:57] QAZIMAAZARSHAD opened #3 "Make captcha reload functionable"
![image](https://user-images.githubusercontent.com/56196640/120430948-665f5800-c395-11eb-8b7d-fb8638d397a6.png)

It should load a random captcha when clicking reload button.

[2021-06-02 06:31] QAZIMAAZARSHAD opened #4 "Design a new creative footer"
It will be better if you refer to some footer design of the Indian government website.

[2021-06-02 06:41] QAZIMAAZARSHAD opened #5 "Display result on clicking submit button"
A pop-up window with a "form successfully submitted" message should appear or it should navigate to another page displaying form submitted message.

[2021-06-02 06:50] QAZIMAAZARSHAD opened #6 "Display list of supported documents"
A pop-up containing the list of supporting documents should appear on clicking "List of supported documents" link.

![image](https://user-images.githubusercontent.com/56196640/120436591-bdb4f680-c39c-11eb-97f3-925d2f09d72c.png)

Pop-up could be an image or text.

[2021-06-02 06:59] QAZIMAAZARSHAD opened #7 "Display districts of respective state in drop down list"
![image](https://user-images.githubusercontent.com/56196640/120437570-d83b9f80-c39d-11eb-9eb3-430a69bd2ad0.png)

Example - If a user selects Uttar Pradesh in state list then all the districts of Uttar Pradesh should be visible in district drop-down list.

[2021-06-02 07:02] QAZIMAAZARSHAD opened #8 "Apply creative hover effect on Tiranga image"

[2021-06-02 07:05] QAZIMAAZARSHAD opened #9 "Add logo in title bar of website"
Use the Indian flag logo or some other icon related to voting.

[2021-06-02 07:11] QAZIMAAZARSHAD opened #10 "Autofill state and district after entering pin code"
![image](https://user-images.githubusercontent.com/56196640/120439102-c3600b80-c39f-11eb-92ae-a30b71acfa0f.png)

[2021-06-02 07:27] shivshankar9 opened #11 "Make website responsive in mobile phone"
Site not responsive in phone, needs some changes maybe

[2021-06-02 07:30] shivshankar9 commented on #3
I want to work on this issue

[2021-06-02 07:31] shivshankar9 commented on #5
Assign to me I will do.

[2021-06-02 07:49] Sourav61 commented on #6
I would like to work on this issue @QAZIMAAZARSHAD

[2021-06-02 09:03] chaitanyasjoshi opened #12 "Use good quality screenshot in README"
The screenshot in the README.md under the sneak peek section is not clear.
High-resolution screenshot can be added so that it is visible to everyone.

[2021-06-02 09:09] QAZIMAAZARSHAD commented on #12
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-02 09:10] QAZIMAAZARSHAD commented on #11
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-02 09:11] QAZIMAAZARSHAD commented on #9
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-02 09:12] QAZIMAAZARSHAD commented on #5
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-02 09:12] QAZIMAAZARSHAD commented on #3
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-02 09:51] chaitanyasjoshi commented on #12
Sure

[2021-06-02 18:49] Barsha27 commented on #8
i would like to work on this issue

[2021-06-02 18:59] Barsha27 commented on #7
i can work on that...

[2021-06-03 04:21] QAZIMAAZARSHAD commented on #8
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-03 04:22] QAZIMAAZARSHAD commented on #7
Sure, go ahead

I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-03 06:15] Shivamyana19 commented on #4
Can i work on this. Please assign it to me.

[2021-06-03 06:25] QAZIMAAZARSHAD commented on #4
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-03 06:43] Shivamyana19 commented on #2
hii , I would like to work on this issue. Please assign it to me

[2021-06-03 06:45] QAZIMAAZARSHAD commented on #2
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-03 07:10] Shivamyana19 commented on #2
ok

[2021-06-03 11:17] kumarishalini6 opened #13 "Add a scroll to top button"
There should be scroll to top button
@QAZIMAAZARSHAD can i work on this issue under LGM=SOC'21 participant

[2021-06-03 11:53] QAZIMAAZARSHAD commented on #13
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-03 14:32] Sourav61 commented on #6
https://user-images.githubusercontent.com/70853906/120662203-90ed0600-c4a6-11eb-873a-9562787be719.mp4

[2021-06-03 14:33] Sourav61 commented on #6
Basics layout is ready just the close button is not working!! @QAZIMAAZARSHAD sir

[2021-06-03 14:33] Sourav61 commented on #6
If you have any other suggestions, pls let me know @QAZIMAAZARSHAD sir

[2021-06-03 14:41] QAZIMAAZARSHAD commented on #6
No, You got it all wrong

In list of supported documents you have to display list like:
Adhar card for age proof
passport for address etc.

![image](https://user-images.githubusercontent.com/56196640/120663281-82531e80-c4a7-11eb-88e4-9bbbaaad8ef3.png)

And also your display design and style were not good. Try to make it attractive/improve the design.

[2021-06-03 14:51] Sourav61 commented on #6
Can i make it same way as is shown in above image @QAZIMAAZARSHAD ?

[2021-06-03 14:57] Barsha27 commented on #7
okay...

[2021-06-03 14:57] Barsha27 commented on #8
sure

[2021-06-03 15:01] QAZIMAAZARSHAD commented on #6
Yaa sure,

Keep in mind you are making a list of supporting documents for the voter Id card.

[2021-06-03 15:15] Sourav61 commented on #6
okk thanks alot @QAZIMAAZARSHAD sir

[2021-06-04 04:36] Anupam-Panwar opened #14 "Margin at the bottom of the form"
* Bottom Margin of the form is bit less as compared to other three sides

![image](https://user-images.githubusercontent.com/65714751/120746014-f62f0e80-c51b-11eb-86a8-f57ef4bf0123.png)

* I would like to work on this

[2021-06-04 04:48] QAZIMAAZARSHAD commented on #14
@Anupam-Panwar there is another issue (Design a new creative footer) https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/4.
I think this margin issue will be handled there, so no need to create a new issue.

If you have any better ideas for the footer you can work on issue number https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/4

[2021-06-04 04:48] #14 closed

[2021-06-04 05:52] Anupam-Panwar commented on #14
@QAZIMAAZARSHAD I thought that issue will deal with design of new footer only.

[2021-06-04 15:35] Zhong-Shan-Hui commented on #10
Yes I can work on this issue.

[2021-06-04 15:39] QAZIMAAZARSHAD commented on #10
Sure, go-ahead

I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-05 02:58] Zhong-Shan-Hui commented on #1
I would like to try to work on this issue. Would you tell me what would be the available languages to select from? It would be English and Hindi right?

[2021-06-05 03:00] QAZIMAAZARSHAD commented on #1
Yes, English and Hindi.

Go ahead you can work on this issue.

[2021-06-05 05:05] Sourav61 commented on #6
https://dot.gov.in/sites/default/files/2016_11_18%20POIA-AS-II.pdf?download=1#:~:text=Card%20with%20address.-,Kisan%20Passbook%20with%20photograph%20Kisan%20Passbook%20with%20address.,older%20than%20last%20three%20months).

[2021-06-05 05:06] Sourav61 commented on #6
Can i just redirect our viewers to this document containing all information regarding list of supporting documents for the voter Id card @QAZIMAAZARSHAD ?

[2021-06-05 10:26] Aiswarika opened #15 "Adding Navigation bar to the website"
I would like to add a navbar to the website. @QAZIMAAZARSHAD Can you please assign me this issue?

[2021-06-05 10:44] Aiswarika opened #16 "Display document type in drop down list"
I would like to work on this issue if needed. @QAZIMAAZARSHAD Can you please assign me this issue?

![Screenshot (382)](https://user-images.githubusercontent.com/72227445/120889016-dc272600-c618-11eb-81ce-fb217837c7ec.png)

[2021-06-05 10:47] coding-geek21 opened #17 "Show regional keyboard on clicking the keyboard button"
I would like to work on this issue under LGM-SOC , Can you please assign me @QAZIMAAZARSHAD

[2021-06-05 10:50] coding-geek21 commented on #17
Just a Query is this website similar to https://www.nvsp.in/

[2021-06-05 10:54] Naman-Joshi-14 commented on #9
Sir i want to work on this issue

[2021-06-05 10:56] Naman-Joshi-14 commented on #4
Sir plz can i work on this issue.

[2021-06-05 11:34] coding-geek21 opened #18 "Add favicon to the website"
I would like to work on this issue under LGM-SOC , Can you please assign me @QAZIMAAZARSHAD

[2021-06-05 11:36] coding-geek21 opened #19 "Add custom scrollbar"
I would like to work on this issue under LGM-SOC , Can you please assign me @QAZIMAAZARSHAD

[2021-06-05 12:44] VaishnaviNigam25 commented on #18
Hey I would like to work on this..Please assign me @QAZIMAAZARSHAD

[2021-06-05 12:45] VaishnaviNigam25 commented on #16
I would like to work on this issue.

[2021-06-05 12:46] VaishnaviNigam25 commented on #13
PLz, assign me this issue.I wanna add the top button! @QAZIMAAZARSHAD

[2021-06-05 12:47] VaishnaviNigam25 commented on #9
I would like to work on this , Please  Consider assigning me.

[2021-06-05 15:50] kumarishalini6 opened #20 "Design a Home page"
@QAZIMAAZARSHAD  i think there should be a styled, attractive home page  , there should be a button after clicking on that button voters can enter on the main that.

@QAZIMAAZARSHAD can i work on this issue under LGM-SOC'21

[2021-06-05 16:37] QAZIMAAZARSHAD commented on #20
Ok, go ahead

I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-05 16:38] QAZIMAAZARSHAD commented on #19
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-05 16:38] kumarishalini6 commented on #20
Ok

[2021-06-05 16:39] QAZIMAAZARSHAD commented on #18
This issue is already open, see issue number https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/9.

Look for any other issues or open new issues.

[2021-06-05 16:39] #18 closed

[2021-06-05 16:40] QAZIMAAZARSHAD commented on #17
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-05 16:41] QAZIMAAZARSHAD commented on #17
No this website is demo of (FORM-6 Application for Inclusion of Name in Electoral Roll).

[2021-06-05 16:44] QAZIMAAZARSHAD commented on #16
Sure,

I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-05 16:47] QAZIMAAZARSHAD commented on #15
@Aiswarika can you elaborate your idea because I don't see what is the use of the navigation bar on this website.

This is just an online demo version of an application form.

[2021-06-05 16:47] QAZIMAAZARSHAD commented on #13
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-05 16:47] VaishnaviNigam25 commented on #16
Ok @QAZIMAAZARSHAD  👍

[2021-06-05 16:59] kumarishalini6 commented on #13
@QAZIMAAZARSHAD  I guess the issue is assigned on the basis of first come first serve

[2021-06-05 17:00] QAZIMAAZARSHAD commented on #6
I wanted to have a pop-up display.

But if you are unable to do it just make this document downloadable or redirect it to that document.

I will assign this issue to someone else.

[2021-06-05 17:01] QAZIMAAZARSHAD commented on #4
@Naman-Joshi-14 okk,

but keep in mind since many contributors are willing to resolve this issue only the best design/solution will be accepted.

[2021-06-05 17:02] Sourav61 commented on #6
Okk i will make a pop-up display but all the supported documents should be the in same way as shown in the image or do i need to add something else @QAZIMAAZARSHAD sir?

[2021-06-05 17:06] QAZIMAAZARSHAD commented on #6
The image you have chosen is very complex, a simple and cool design pop-up will do good.

[2021-06-05 17:07] QAZIMAAZARSHAD commented on #13
@kumarishalini6 since many contributors are willing to resolve the same issue then the best solution will be accepted.

[2021-06-05 17:08] Sourav61 commented on #6
I am talking this image sent by you

https://user-images.githubusercontent.com/56196640/120663281-82531e80-c4a7-11eb-88e4-9bbbaaad8ef3.png

[2021-06-05 17:12] QAZIMAAZARSHAD commented on #6
I showed you this image to explain to you what is meant by supporting documents.

[2021-06-05 17:13] Sourav61 commented on #6
okk @QAZIMAAZARSHAD sir

[2021-06-05 21:15] hv65616 commented on #5
**Hello @QAZIMAAZARSHAD, This is Himanshu Verma, and I am a B.tech from CSE student.**
**If you consider me, I would love to contribute to this issue and make it successfully resolved.**
**If you like you can check my LinkedIn as well as Github**

- LinkedIn:- [https://www.linkedin.com/in/himanshu-verma-94a1a41b8/](url)

[2021-06-06 02:58] coding-geek21 opened #21 "Create a similar form for correction of voter details"
I would like to work on this issue please assign me @QAZIMAAZARSHAD

[2021-06-06 03:55] Sourav61 commented on #6
@QAZIMAAZARSHAD Can the modal pop-up contain an image?

[2021-06-06 06:25] Sourav61 commented on #6
Uploading 1.mp4…

[2021-06-06 06:26] Sourav61 commented on #6
Uploading 1.mp4…

[2021-06-06 06:29] Sourav61 commented on #6
@QAZIMAAZARSHAD sir pls check my work and review it!!

[2021-06-06 07:10] Vedant-Jayesh-Oza opened #22 "Make a similar form in Hindi Language"
![16229632055911981222179083962529](https://user-images.githubusercontent.com/75005433/120915878-e2261100-c6c3-11eb-8a20-e5893983ebcf.jpg)

I am a Lgm-Soc'21 participant
When we click on the hindi option the page still remains in English language so my idea is to create a similar page in hindi language as hindiindex.html and link that html file to the hindi option using anchor tag so when a user c

[2021-06-06 07:46] Naman-Joshi-14 commented on #4
@QAZIMAAZARSHAD  Thank you sir

[2021-06-06 16:25] RohanKeshri87 opened #23 "Add a button to download the form"
If a voter wants then he/she can download and prints the keep it for reference

[2021-06-06 16:39] Zhong-Shan-Hui opened #24 "Display pictures of uploaded documents"
By displaying the photo, the person can check whether the correct photo is uploaded or not.

[2021-06-06 16:55] RohanKeshri87 opened #25 "Displayed Uploaded Signature photo for the Voter form"
There will be an signature field where voter can upload signature photo and person can check whether the correct signature photo is uploaded or not.

[2021-06-06 17:05] QAZIMAAZARSHAD commented on #5
@hv65616 I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-06 17:06] QAZIMAAZARSHAD commented on #6
Nice,

[2021-06-06 17:08] Sourav61 commented on #6
Are there any others things that I should improve or include @QAZIMAAZARSHAD sir?

[2021-06-06 17:09] QAZIMAAZARSHAD commented on #21
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-06 17:11] QAZIMAAZARSHAD commented on #22
@Vedant-Jayesh-Oza this issue is already open see issue number https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/1

[2021-06-06 17:11] #22 closed

[2021-06-06 17:12] QAZIMAAZARSHAD commented on #23
Nice Idea,

I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-06 17:12] Zhong-Shan-Hui opened #26 "Make the reset button to work"
Reset the elements in the form without reloading the whole page.

[2021-06-06 17:15] QAZIMAAZARSHAD commented on #24
Nice idea,
But do it for all documents, display photos of all the uploaded documents.

I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-06 17:17] QAZIMAAZARSHAD commented on #25
@RohanKeshri87 this issue is already open. See issue number https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/24.

You can look for any other issues.

[2021-06-06 17:20] QAZIMAAZARSHAD commented on #26
@Zhong-Shan-Hui the reset button is working fine.

[2021-06-06 17:20] #26 closed

[2021-06-06 17:30] QAZIMAAZARSHAD commented on #6
If you think you can improve it then you should definitely give it a try.

[2021-06-06 17:38] Sourav61 commented on #6
Okk @QAZIMAAZARSHAD sir but do we need to add some more examples of documents or these examples are enough?

[2021-06-06 17:39] Sourav61 commented on #6
Close button is working fine already, only thing that i can think of improving is adding one image or maybe changing style of text or add some more examples!!

[2021-06-06 17:40] QAZIMAAZARSHAD commented on #6
It's fine, but you can if you want to.

[2021-06-06 17:41] QAZIMAAZARSHAD commented on #6
ok fine.

[2021-06-06 17:42] Sourav61 commented on #6
I will keep you updated sir, Thank you so much @QAZIMAAZARSHAD sir!!

[2021-06-06 18:31] Vedant-Jayesh-Oza opened #27 "Accept AADHAR number and VOTER-ID number from user"
Hello sir, I am LGM-SOC'21 participant

Now-a-days in every online form that we fill in any domain such as passport, banking etc. The portal always asks for Adhaar number of the applicant and as this is a Voter registration portal so we should also accept Voter ID of the user

So in the mandatory specification section we should ask for voter's adhaar number and Voter ID number

I am LGM-SOC'21 par

[2021-06-07 02:29] QAZIMAAZARSHAD commented on #27
@Vedant-Jayesh-Oza this is a form for enrollment in the electoral roll (means an application for Voter Id) so you cannot ask for voter Id.

Also, we have a section for uploading supported documents so the Adhaar card can be used as address and age proof.
Also, in general, voter id can be generated without adhaar card using other Id proofs.
There is no need to include the Adhaar card in the mandato

[2021-06-07 02:29] #27 closed

[2021-06-07 03:33] Vedant-Jayesh-Oza commented on #27
Ok fair enough 👍

[2021-06-07 10:15] SLPoojitha commented on #11
Sir, I am a participant of LGMSOC-2021.
Could you please assign this issue to me.

[2021-06-07 10:19] SLPoojitha commented on #10
Could u please assign me this issue sir even I wanted to work on it.

[2021-06-07 10:20] QAZIMAAZARSHAD commented on #11
@SLPoojitha I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

Since many contributors are willing to resolve this issue, I will accept only the first PR which will completely resolve this issue.

[2021-06-07 10:21] QAZIMAAZARSHAD commented on #10
@SLPoojitha I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

Since many contributors are willing to resolve this issue, I will accept only the first PR which will completely resolve this issue.

[2021-06-07 10:22] SLPoojitha commented on #10
Thank u sir!!

[2021-06-07 16:28] QAZIMAAZARSHAD commented on #7
Yes, do it.

[2021-06-07 16:30] Barsha27 commented on #7
okay..

[2021-06-07 20:22] royalleads15 opened #28 "Add dark/light mode to website"
Dark and light mode must be added in portal so that user can access it as he/she wants.

[2021-06-07 20:31] royalleads15 opened #29 "Welcome page"
We can also show user a popup containing of documents required for registration so that user can come along with all document required for registration .

[2021-06-08 04:49] QAZIMAAZARSHAD commented on #29
@royalleads15 this issue is already open, see issue number https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/6.

You can look for any other issue.

[2021-06-08 04:49] #29 closed

[2021-06-08 04:56] QAZIMAAZARSHAD commented on #28
Nice idea,

I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-08 05:04] Ananyaiitbhilai commented on #25
I am done with this but can you be precise in what format/extension you want this document to be uploaded, for now it is accepting formats of all the type and I have limited the size to 5 MB.

[2021-06-08 05:22] Ananyaiitbhilai commented on #5
Since there is no info about backend in this repo so, I don't exactly how you will be calling that page "Successfully Submitted", but what I can figure out is that from the current status is that, host that page individually and then that would be rendered after submitting the form and its link would be embedded in this tag <ahref="" input type="submit" style="margin-bottom:10px !important; margin

[2021-06-08 05:25] royalleads15 opened #30 "Form validation for email , phone no , pin etc"
whenever any user types irrevelant thing then a popup appears showing incorrect data .

[2021-06-08 05:50] royalleads15 opened #31 "Audio re-CAPTCHA"
we can also use audio recaptcha along with captcha.

[2021-06-08 06:52] QAZIMAAZARSHAD commented on #30
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-08 07:02] QAZIMAAZARSHAD commented on #31
Nice idea, go ahead.

I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-08 08:58] royalleads15 opened #32 "Add help section"
Help section must be added in header or footer so that if anyone find difficulty in registration process he/she can acess it .

[2021-06-08 09:05] QAZIMAAZARSHAD commented on #32
Go ahead,

But don't add this section to the main page, create a separate page. Add the link to that page in the footer.

[2021-06-08 09:06] harsh72835 opened #33 "making a language input working"
Forming a form with Hindi language

[2021-06-08 09:10] QAZIMAAZARSHAD commented on #33
@harsh72835 this issue is already open. See issue number https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/1.

Before opening any issue always make sure that no other similar issue is already open.

[2021-06-08 09:10] #33 closed

[2021-06-08 13:52] SamikshaSankar commented on #1
I would like to work on this issue under lgn-soc

[2021-06-08 13:56] QAZIMAAZARSHAD commented on #1
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-08 14:48] harshita9621 commented on #32
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 14:51] harshita9621 commented on #20
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 14:51] QAZIMAAZARSHAD commented on #32
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-08 14:53] QAZIMAAZARSHAD commented on #20
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-08 14:55] Sumit11081996 commented on #32
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 14:55] harshita9621 commented on #8
Hii,  I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 14:56] Sumit11081996 commented on #20
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 14:56] harshita9621 commented on #4
Hii,  I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 15:05] QAZIMAAZARSHAD commented on #32
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.
Since many contributors are willing to resolve this issue, keep in mind the best design/solution will be accepted.

[2021-06-08 15:06] QAZIMAAZARSHAD commented on #8
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.
Since many contributors are willing to resolve this issue, keep in mind the best design/solution will be accepted.

[2021-06-08 15:06] QAZIMAAZARSHAD commented on #20
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.
Since many contributors are willing to resolve this issue, keep in mind the best design/solution will be accepted.

[2021-06-08 15:35] nitishapiplani commented on #11
I would like to work on it plzz assingn to me lgm SoC participant

[2021-06-08 15:54] QAZIMAAZARSHAD commented on #11
@nitishapiplani  I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

Since many contributors are willing to resolve this issue, I will accept only the first PR which will completely resolve this issue.

[2021-06-08 17:09] kumarishalini6 commented on #5
@QAZIMAAZARSHAD can I work on this issue

[2021-06-08 17:24] Barsha27 commented on #7
already worked it out...

[2021-06-08 17:40] QAZIMAAZARSHAD commented on #5
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.
Keep in mind, since many contributors are willing to work on this issue, only the best solution/design will be accepted.

[2021-06-09 03:00] kumarishalini6 opened #34 "Add a preloader"
I want to add a attractive preloader

[2021-06-09 03:02] kumarishalini6 opened #35 "Improve splash screen"

[2021-06-09 04:20] V-Yeshwanth commented on #35
I would like to work on this issue !!

[2021-06-09 04:21] V-Yeshwanth commented on #28
I would like to work on this issue !!

[2021-06-09 04:22] V-Yeshwanth commented on #13
I would like to work on this issue !!

[2021-06-09 04:22] V-Yeshwanth commented on #11
I would like to work on this issue !!

[2021-06-09 04:23] V-Yeshwanth commented on #15
I would like to work on this issue !!

[2021-06-09 04:23] jigar-sable opened #36 "Header Design"
![image](https://user-images.githubusercontent.com/64949957/121292775-1ee24a00-c908-11eb-9214-63b88405ee3e.png)
### Language Options and Font Size Functionality should be in header.
I would like to create new header design.
Assign me this issue under LGM-SOC'21

[2021-06-09 04:23] V-Yeshwanth commented on #30
I would like to work on this issue !!

[2021-06-09 04:24] coding-geek21 opened #37 "Create a login and sign-up page"
I would like to work on this issue @QAZIMAAZARSHAD , Please assign me

[2021-06-09 04:34] khushi-purwar commented on #37
I want to add login and signup page. I would like to work on this issue please assign me @QAZIMAAZARSHAD

[2021-06-09 05:06] kumarishalini6 commented on #34
Sure

[2021-06-09 05:14] QAZIMAAZARSHAD commented on #35
@kumarishalini6 and @V-Yeshwanth I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-09 05:15] QAZIMAAZARSHAD commented on #35
Apply some creative effects like this https://cdn.dribbble.com/users/164756/screenshots/14613561/netflix-800x600-with-logo.gif.

[2021-06-09 05:17] QAZIMAAZARSHAD commented on #28
Go ahead.
Keep in mind the first PR with better design will be accepted.

[2021-06-09 05:19] QAZIMAAZARSHAD commented on #13
Go ahead.
But keep in mind since many contributors are working on this issue only the best design will be accepted.

[2021-06-09 05:20] QAZIMAAZARSHAD commented on #11
Go ahead.
But remember, since many contributors are willing to resolve this issue, I will accept only the first PR which will completely resolve this issue.

[2021-06-09 05:23] QAZIMAAZARSHAD commented on #15
@V-Yeshwanth this issue will be dealt in issue number https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/20.

[2021-06-09 05:23] #15 closed

[2021-06-09 05:34] QAZIMAAZARSHAD commented on #36
No @jigar-sable I prefer the old design.

You can go for any other issues, open a new one, or suggest new features, etc.

[2021-06-09 05:34] #36 closed

[2021-06-09 05:36] jigar-sable commented on #36
Alright..

[2021-06-09 05:37] QAZIMAAZARSHAD commented on #30
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.
Since others are also willing to solve this issue, I will merge only the first PR which will completely resolve this issue.

[2021-06-09 05:47] QAZIMAAZARSHAD commented on #37
Go ahead @coding-geek21 and @khushi-purwar.

I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-09 06:59] QAZIMAAZARSHAD commented on #13
Great job @kumarishalini6. I'll merge your PR tomorrow.

[2021-06-09 07:31] kumarishalini6 commented on #13
Ok

[2021-06-09 07:43] QAZIMAAZARSHAD commented on #20
Great job @kumarishalini6, I'll merge your PR tomorrow.

[2021-06-09 08:00] kumarishalini6 commented on #20
Ok thanks

[2021-06-09 14:48] QAZIMAAZARSHAD commented on #11
@Kartikey0205 I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

Since many contributors are willing to resolve this issue, I will accept only the first PR which will completely resolve this issue.

[2021-06-09 14:53] supzi-del opened #40 "Add some spacing between form 6 and the 1st section"
![image](https://user-images.githubusercontent.com/78655439/121378132-8c21c980-c960-11eb-8f52-cd3c5c90f900.png)
I can work on this if you think this is an appropriate issue.

[2021-06-09 15:03] QAZIMAAZARSHAD commented on #40
No, I don't think there is any need for spacing.
You can look for any other issues or open new issues.

[2021-06-09 15:03] #40 closed

[2021-06-09 15:55] Shaishav0507 opened #41 "Footer Copyright Year"
Hey @QAZIMAAZARSHAD
I would like to change the footer year and it will take according to the correct year.
Need not change every time.
Thanks

[2021-06-09 16:11] QAZIMAAZARSHAD commented on #41
Nice idea,

Go ahead.

[2021-06-09 16:23] SLPoojitha commented on #9
I would like to work on this issue sir.
I have raised a pull request. Plz check if that is fine sir!!

[2021-06-09 16:25] QAZIMAAZARSHAD commented on #9
@VaishnaviNigam25, @SLPoojitha, @Naman-Joshi-14 since this is an easy issue I cannot assign it to more than one contributor.

Look for any other issue.

[2021-06-09 17:03] QAZIMAAZARSHAD commented on #16
@VaishnaviNigam25 since this is a very easy issue I cannot assign it to more than one participant.
You can look for another issue or open a new one.

I apologize for not mentioning it earlier.

[2021-06-09 17:04] urvashiparashar commented on #37
I want to work on this issue. Can you pls assign me this? @QAZIMAAZARSHAD

[2021-06-09 17:16] QAZIMAAZARSHAD commented on #37
Remember the first PR with better design will be accepted.

[2021-06-09 18:42] starrohan999 commented on #12
@QAZIMAAZARSHAD
I would to work on this issue also.

[2021-06-09 18:51] nisha331 opened #43 "Mission correcting navbar for medium and small devices"
The navbar looks odd when it is seen in mobile and tablet view . I as a participant at LGMSOC would like to work upon this

[2021-06-09 18:53] nisha331 opened #44 "Adding Favicon"
Favicon is missing in the website

[2021-06-09 18:57] nisha331 opened #45 "correcting the alignment and spacing between the fields"
The alignment is not that good. I as a participant of LGMSOC would like to would on it and try making it aligned.

[2021-06-09 19:07] drishika2002 opened #46 "Adding Navigation bar buttons"
Adding Navigation bar buttons to move to different sections like Mandatory specifications, Optional specialties, etc. of the main webpage by clicking on these buttons. I will also add hover effects to it.

I want to work on this issue under LGM SOC'21. Please assign this issue to me.

[2021-06-09 20:32] RohanKeshri87 commented on #25
ohkk

[2021-06-09 20:46] jigar-sable commented on #41
Hii, I would like to work on this issue as LGM SOC'21 participant. Do assign me if possible. Thank You!

[2021-06-10 01:23] RiyaGupta89 opened #47 "Should I add all the districts on the select district part?"
Should I add all the districts on the select district part?

[2021-06-10 04:08] sreyash8580 commented on #43
I Found the Header/Navbar of the page is not responsive. It is taking total width, resulting to an ugly look. I would like to update is and make it better in terms of responsiveness.

[2021-06-10 05:15] QAZIMAAZARSHAD commented on #12
@starrohan999 since this is a very easy issue and has already been assigned to someone else, I can't assign it to you.
You can look for any other issues.

[2021-06-10 05:17] QAZIMAAZARSHAD commented on #44
@nisha331 this issue is already open. See issue number https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/9.
Before opening any issue always make sure that no other similar issue is open.

[2021-06-10 05:17] #44 closed

[2021-06-10 05:20] QAZIMAAZARSHAD commented on #45
@nisha331 can you please elaborate on the issue you intend to solve.

Share a screenshot if possible, I don't understand what you are referring to.

[2021-06-10 05:31] prakhar07msd commented on #45
Can i work on this issue??????

[2021-06-10 05:34] Tejaswika opened #55 "Updating the layout"
![image](https://user-images.githubusercontent.com/65081403/121470019-2888b200-c9db-11eb-916d-04eb7d7b8e44.png)
![image](https://user-images.githubusercontent.com/65081403/121470027-2de5fc80-c9db-11eb-8871-23cc96dfc48b.png)
A proper gap in between the Heading and Navbar is missing. Assign this issue to me, I will resolve it asap.

[2021-06-10 05:44] QAZIMAAZARSHAD commented on #46
Okk, go ahead.

But don't make this navigation bar similar to that of websites.
Do like this,
![image](https://user-images.githubusercontent.com/56196640/121471277-055f0200-c9dd-11eb-9fea-b7af6ccefe93.png)

[2021-06-10 05:56] drishika2002 commented on #46
Okay sure, sir!

[2021-06-10 05:57] nisha331 commented on #45
@QAZIMAAZARSHAD  thanks for looking into the issue .
![Capture1](https://user-images.githubusercontent.com/76838660/121470840-62a68380-c9dc-11eb-86fe-ebc4ed4fb43d.PNG)
I was saying about shifting the the answering blocks to right and maintaining equal alignment would make it look more organized.(like the blocks in which its written* in english* *in regional* that thing)
![Capture](https://user-ima

[2021-06-10 06:54] QAZIMAAZARSHAD commented on #41
@jigar-sable this issue is already assigned to @Shaishav0507.

Look for any other issues.

[2021-06-10 07:06] QAZIMAAZARSHAD commented on #47
@RiyaGupta89 this issue is already open https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/7.

Before opening any issues please always make sure that no other similar issue is open.

[2021-06-10 07:06] #47 closed

[2021-06-10 07:08] QAZIMAAZARSHAD commented on #6
Fine @Sourav61.

Wait till I review your PR.

[2021-06-10 07:16] jugeshraghav opened #56 "making the site responsive for mobile view."

[2021-06-10 07:17] QAZIMAAZARSHAD commented on #1
Fine @Zhong-Shan-Hui,

Wait till I review your PR.

[2021-06-10 07:26] QAZIMAAZARSHAD commented on #10
Fine @Zhong-Shan-Hui.

Wait till I review your PR.

[2021-06-10 07:30] QAZIMAAZARSHAD commented on #24
Fine @Zhong-Shan-Hui.

Wait till I review your PR.

[2021-06-10 07:33] QAZIMAAZARSHAD commented on #43
@nisha331 and @sreyash8580 this issue is already open https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/11.
Don't open any issues which are already open, first go through every issue.

[2021-06-10 07:33] #43 closed

[2021-06-10 07:33] muthuannamalai12 opened #58 "Bug In Issue Template"
Issue Template is not showing up when we click on New Issue. I would love to work on it as a part of LGMSOC. Kindly assign it to me.

[2021-06-10 07:39] Sourav61 commented on #6
okk @QAZIMAAZARSHAD  sir

[2021-06-10 07:48] QAZIMAAZARSHAD commented on #32
Fine @royalleads15.
Wait till I review your PR.

[2021-06-10 07:56] SanjeevKumar22 opened #59 "Make form in Kannada language"
Transalate to kannada and Hindi to  full page

[2021-06-10 08:31] jigar-sable commented on #41
Ok Sir

[2021-06-10 08:39] LizaHaddock commented on #56
Sir, I am a participant of LGMSOC-2021.
Could you please assign this issue to me.

[2021-06-10 08:49] tjanhvi opened #61 "Add a page of successfully submission of the information."

[2021-06-10 09:01] ambivert-sam commented on #8
Hey, @QAZIMAAZARSHAD  I'm a participant of LGMSOC'21 ​I would like to contribute to this issue will you please assign it to

[2021-06-10 09:31] QAZIMAAZARSHAD commented on #55
@Tejaswika no need for that. Also, some other issues like footer redesign are open which will fix this issue.

[2021-06-10 09:31] #55 closed

[2021-06-10 09:32] QAZIMAAZARSHAD commented on #37
Fine @khushi-purwar.

I will review this PR soon.

[2021-06-10 11:18] QAZIMAAZARSHAD commented on #58
Thanks for informing me.

Go ahead.

[2021-06-10 11:25] tjanhvi commented on #61
Please assign me this issue.

[2021-06-10 11:41] QAZIMAAZARSHAD commented on #59
@SanjeevKumar22 this issue is already open see issue number https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/1.

If you want to make this form in the Kannada language also then go ahead.

[2021-06-10 11:46] QAZIMAAZARSHAD commented on #7
Fine @Barsha27. I'll review your PR soon.

[2021-06-10 11:53] QAZIMAAZARSHAD commented on #56
@jugeshraghav this issue is already open https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/11.

Don't open issues before verifying that no other similar issue is open.

[2021-06-10 11:53] #56 closed

[2021-06-10 11:54] QAZIMAAZARSHAD commented on #8
Since many contributors are willing to resolve this issue, keep in mind the best design/solution will be accepted.

[2021-06-10 11:55] Barsha27 commented on #7
sure

[2021-06-10 12:12] QAZIMAAZARSHAD commented on #61
@tjanhvi this issue is already open https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/5.

Before opening any issue always make sure that no other similar issue is open.

[2021-06-10 12:12] #61 closed

[2021-06-10 12:42] QAZIMAAZARSHAD commented on #37
Nice @coding-geek21.

I will review your PR soon.
The best design among @khushi-purwar and @coding-geek21 will be accepted.

[2021-06-10 12:43] coding-geek21 commented on #37
Thank you:)

[2021-06-10 13:05] SanjeevKumar22 commented on #59
Made transalation to all languages

[2021-06-10 13:06] QAZIMAAZARSHAD commented on #59
Can you make the form in all languages?

[2021-06-10 13:07] SanjeevKumar22 commented on #59
Ya I made it

[2021-06-10 13:07] SanjeevKumar22 commented on #59
Can create PR?

[2021-06-10 13:27] 2024-SANDHYA opened #65 "Enhancing look & feel of website"
Want to change look of website as it looks a bit bland & also adding some on click functionalities using JS.

[2021-06-10 13:34] QAZIMAAZARSHAD commented on #65
Sure go ahead if you have some ideas.

[2021-06-10 14:24] mdinesh124 commented on #28
Please assign me this issue. I would be happy to contribute in it as a part of LGMSOC

[2021-06-10 14:42] chaitanyasjoshi commented on #12
@QAZIMAAZARSHAD Is it ok if put the screenshot in the images folder? Or should I create a new folder?

[2021-06-10 15:27] SHUBHANSHU-creator commented on #65
can i work on this issue?

[2021-06-10 16:21] QAZIMAAZARSHAD commented on #65
Sure go ahead

[2021-06-10 16:23] KhushiRoy commented on #65
Can I also contribute in improvising the view of the website under LGM SOC 21,Thank You!!

[2021-06-10 16:26] Devansh2000Shaw commented on #65
I would like to contribute on this issue under LGM SOC 21.

[2021-06-10 16:39] aditya687 commented on #46
I want to make navigation bars look elegant and new @QAZIMAAZARSHAD. Please assign this issue to me I want to work for LGM SOC'21.

[2021-06-10 16:50] QAZIMAAZARSHAD commented on #37
@aditya687 I have already received 2 PR's for this issue that will likely close this issue.
You are welcome to again open a new issue if you believe your design is better. Wait till I merge the above PR's.

[2021-06-10 16:54] aditya687 commented on #41
Hello @QAZIMAAZARSHAD
I would like to change the footer year with the assigned or present year . Please assign me this issue for LGSOC'21

[2021-06-10 16:56] aditya687 commented on #20
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. I can beautifully design the home page with header section, about us, home page and give a elegant design to the page

[2021-06-10 16:57] Shaishav0507 commented on #41
@QAZIMAAZARSHAD I have done it and even made a PR.
If possible check and merge it.

[2021-06-10 16:58] aditya687 commented on #32
I can add help section to get the customer feedback by giving a wonderful design with icons at the footer. Please assign me this issue  @QAZIMAAZARSHAD

[2021-06-10 17:02] QAZIMAAZARSHAD commented on #20
@aditya687 this issue has been resolved and will be closed soon.
If you have any better ideas you are always welcome to open new issues. Wait till I merge above PR.

[2021-06-10 17:03] QAZIMAAZARSHAD commented on #41
@aditya687 this issue has already been resolved.

[2021-06-10 17:04] QAZIMAAZARSHAD commented on #41
I'll review your PR soon.

[2021-06-10 17:05] QAZIMAAZARSHAD commented on #32
@aditya687 this issue has already been resolved.
If you want to improve you can open new issues after I merge this PR.

[2021-06-10 17:27] tjanhvi opened #67 "Refresh the captcha code"
Please assign me this issue.

[2021-06-10 17:33] QAZIMAAZARSHAD commented on #67
@tjanhvi this issue is already open https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/3.

Before opening any issue please make sure that no other similar issue is already open.

[2021-06-10 17:33] #67 closed

[2021-06-10 19:39] kumarishalini6 opened #71 "Bug:-form validation"
I want to add validation in number input , phone number validation etc.

@QAZIMAAZARSHAD can i work on this issue

[2021-06-11 03:50] Naman-Joshi-14 commented on #4
@QAZIMAAZARSHAD Sir i want to add the social media logos in the image folder but I am unable to do so.

[2021-06-11 05:51] QAZIMAAZARSHAD commented on #71
@kumarishalini6 please don't open issues that are already open https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/30.

Review all the issues first.

[2021-06-11 05:51] #71 closed

[2021-06-11 06:12] QAZIMAAZARSHAD commented on #4
don't use images try font awesome icons

[2021-06-11 06:44] 1anshu-56 commented on #37
I want to work on this issue can you please assign it to me.

[2021-06-11 06:45] 1anshu-56 commented on #28
I want to work on this issue can you please assign it to me as I have previous experience with this issue.

[2021-06-11 06:47] 1anshu-56 commented on #2
I want to work on this issue can you please assign it to me, I want to work on this issue.

[2021-06-11 06:52] urvashiparashar commented on #34
Can you please assign me this? @QAZIMAAZARSHAD

[2021-06-11 07:39] souvikrajsingh commented on #34
Sir, I want to work on this, kindly assign it to me.

[2021-06-11 07:47] QAZIMAAZARSHAD commented on #37
@1anshu-56 this issue has already been resolved.

Look for some other issues.

[2021-06-11 08:09] QAZIMAAZARSHAD commented on #9
This issue is already assigned to someone else.

Look for any other issues.

[2021-06-11 08:12] QAZIMAAZARSHAD commented on #34
@urvashiparashar and @souvikrajsingh this issue has already been resolved.

[2021-06-11 09:45] urvashiparashar commented on #23
I want to work upon this. Please assign me this
@QAZIMAAZARSHAD

[2021-06-11 10:05] #11 closed

[2021-06-11 10:15] nitishapiplani opened #77 "Adjust zoom and language buttons in mobile view"

[2021-06-11 10:16] nitishapiplani commented on #77
i would like to work on this if u assign to me

[2021-06-11 10:18] pruthvirajjadhav1 opened #78 "Decreasing size of header."
I would like to decrease the size of header in website because we we open the site the header looks too big an we cant see the form . So please let me know should I work on this.

[2021-06-11 10:45] QAZIMAAZARSHAD commented on #77
No need for that it will make it congested.

Fix this ->

![image](https://user-images.githubusercontent.com/56196640/121674866-39671f80-cad0-11eb-993b-19b95a8d891e.png)

Adjust this section so it looks better.

Don't change anything in desktop view, do it only for mobile view.

[2021-06-11 10:48] QAZIMAAZARSHAD commented on #78
It is not even that big.

You can scroll down to view the form.

No need.

[2021-06-11 10:48] #78 closed

[2021-06-11 10:53] nitishapiplani commented on #77
okkay

[2021-06-11 11:21] Naman-Joshi-14 commented on #4
@QAZIMAAZARSHAD  ok sir

[2021-06-11 11:44] nitishapiplani commented on #77
![git](https://user-images.githubusercontent.com/83905949/121681429-70d9ca00-cad8-11eb-85ba-0ca939f29d8a.PNG)
plzz see this once working on my mobile

[2021-06-11 11:45] nitishapiplani commented on #77
changed some lines of code

[2021-06-11 12:00] #20 closed

[2021-06-11 12:59] utkarshgoel10 commented on #1
@QAZIMAAZARSHAD I would like to work on this issue, please assign this to me.

[2021-06-11 13:00] QAZIMAAZARSHAD commented on #77
I suggest delete the Select language text.

Also, fit the note fields marks line properly.

And apply the same header for home.html.

Do all these changes only for mobile view, don't change anything in desktop view.

[2021-06-11 13:16] 1anshu-56 commented on #28
Thanks for assigning @QAZIMAAZARSHAD

[2021-06-11 13:17] 1anshu-56 commented on #2
Thanks for assigning @QAZIMAAZARSHAD

[2021-06-11 14:15] MEETOZA123 commented on #41
i would like to work on it

[2021-06-11 14:23] #34 closed

[2021-06-11 14:47] QAZIMAAZARSHAD commented on #1
This issue has already been resolved and will be closed soon.
Look for any other issues.

[2021-06-11 15:35] Umesh-01 opened #81 "Change the look of this button and format the text"
Since on hovering over the button, the button is being highlighted this means there is no use of that underline under the **Start** button and also this underline is effecting the look of the button. And also the line Start Your Voting Contribution is too close to the button. See this image

- [ ] Remove the underline
- [ ] Gap b/w the button and the line
- [ ] Change the color of line Start Your

[2021-06-11 15:35] Umesh-01 commented on #81
@QAZIMAAZARSHAD Should I work on this issue??

[2021-06-11 16:09] QAZIMAAZARSHAD commented on #41
Already assigned to others, look for any other issue.

[2021-06-11 16:40] vaishnavi1011 opened #83 "Districts for a particular selected state"
for a selected state form drop down I want to make the dropdown for district only for the districts for that particular state.
Please assign me the issue.

[2021-06-11 16:41] vaishnavi1011 commented on #83
@QAZIMAAZARSHAD should I?

[2021-06-11 16:43] Aiswarika commented on #16
@QAZIMAAZARSHAD Kindly review my PR and let me know if it's fine.

[2021-06-11 17:37] nitishapiplani commented on #77
![commit](https://user-images.githubusercontent.com/83905949/121727427-84515900-cb09-11eb-8e4c-5ccb8e90cf57.PNG)
plzz check it now

[2021-06-11 17:37] QAZIMAAZARSHAD commented on #81
go ahead

[2021-06-11 17:40] nitishapiplani commented on #81
i would like to work on it

[2021-06-11 18:04] Umesh-01 opened #89 "Add links to the following gifs"
I think these two gifs (see the below image) should contain a links to the related files because there are the chances that anyone can click on them and these are of no use. So it must redirect us to the pages where these files are present. 🙂

![image](https://user-images.githubusercontent.com/83420185/121730567-7bfb1d00-cb0d-11eb-89dd-7562c97db05e.png)

[2021-06-11 18:07] QAZIMAAZARSHAD commented on #83
@vaishnavi1011 this issue is already open #7.

Before opening any issue always make sure that no other similar issue is open.

[2021-06-11 18:07] #83 closed

[2021-06-11 18:10] #16 closed

[2021-06-11 18:14] Umesh-01 commented on #89
@QAZIMAAZARSHAD sir should I work on this??

[2021-06-11 18:18] SamikshaSankar commented on #1
@QAZIMAAZARSHAD  this issue is solved?

[2021-06-11 18:30] QAZIMAAZARSHAD commented on #1
Yes

[2021-06-11 18:30] #1 closed

[2021-06-11 18:48] QAZIMAAZARSHAD commented on #81
This issue is already assigned, look for any other issue.

[2021-06-11 18:55] nitishapiplani commented on #77
hey have u closed the issue
or i can work on it

[2021-06-11 19:25] #81 closed

[2021-06-11 20:07] nitishapiplani opened #97 "add dark mode to website"
add toogler button for dark mode as it is currently used in every website

[2021-06-11 21:16] Kartikey0205 commented on #2
@QAZIMAAZARSHAD Please assign me this too!!

[2021-06-12 03:13] nandinimalik16 commented on #2
Please assign me this issue

[2021-06-12 03:13] SanjeevKumar22 opened #98 "Add contributors in readme"

[2021-06-12 04:01] Kartikey0205 commented on #3
May I work on this @QAZIMAAZARSHAD ?

[2021-06-12 05:21] utkarshgoel10 commented on #2
@QAZIMAAZARSHAD I have prior knowledge on how to accomplish this task, so please assign this issue to me.

[2021-06-12 05:25] utkarshgoel10 commented on #3
Please assign this issue to me @QAZIMAAZARSHAD

[2021-06-12 06:12] Umesh-01 commented on #89
@QAZIMAAZARSHAD sir why it is still open??

[2021-06-12 06:56] pranavvdesai commented on #97
I would like to work on this

[2021-06-12 07:58] QAZIMAAZARSHAD commented on #32
@harshita9621 and @royalleads15 you guys were not able to resolve your conflicts that's why I have merged @Sumit11081996's PR.

If you believe your design is better, then you are always welcome to open a new issue "Improve help section".

[2021-06-12 07:58] #32 closed

[2021-06-12 08:09] Gauravmitra-hash commented on #97
Assign me this issue.

[2021-06-12 08:35] QAZIMAAZARSHAD commented on #97
@nitishapiplani, @pranavvdesai and @Gauravmitra-hash this issue is already open. See issue number #28.

Before opening any issue always make sure that no other similar issue is open.

[2021-06-12 08:35] #97 closed

[2021-06-12 08:38] pranavvdesai commented on #98
i would like to work on this

[2021-06-12 08:50] nitishapiplani commented on #28
I would like to work on this issue

[2021-06-12 09:03] SanjeevKumar22 opened #103 "Translate to all language"

[2021-06-12 09:34] QAZIMAAZARSHAD commented on #98
Already assigned, look for some other issue.

[2021-06-12 10:40] QAZIMAAZARSHAD commented on #2
Remember first and better PR will be accepted.

[2021-06-12 11:05] #89 closed

[2021-06-12 11:27] QAZIMAAZARSHAD commented on #28
Already assigned to others,

[2021-06-12 12:03] QAZIMAAZARSHAD commented on #9
@shivshankar9 are you working on this.

Apply favicon on all the pages.

[2021-06-12 12:05] shivshankar9 commented on #9
Yes i am working

[2021-06-12 12:27] mgjain9871 opened #107 "Bug in select language button"
The lower part of  'g' in "English" is not visible. I would like to fix this issue.

![Screenshot (104)_LI](https://user-images.githubusercontent.com/71882225/121775495-b617fd80-cba5-11eb-943d-8cbe5d16354f.jpg)

I will change it and make it look like this:

![Screenshot (106)_LI](https://user-images.githubusercontent.com/71882225/121775763-3428d400-cba7-11eb-9b58-451455889599.jpg)

Please assign t

[2021-06-12 12:46] itsij opened #108 "Spelling errors"
I would like to fix the below highlighted errors:
parlimentary -> parliamentary
adress -> address

![image](https://user-images.githubusercontent.com/72145053/121775570-2de62800-cba6-11eb-914f-0e95521eaca8.png)

![image](https://user-images.githubusercontent.com/72145053/121776333-e2ce1400-cba9-11eb-9ae1-f88740afd999.png)

Plz assign this to me under LGM-SOC.
@QAZIMAAZARSHAD

[2021-06-12 13:23] itsij opened #109 "Bug fixing in video on/off button on home page"
ON OFF text on the toggle button on home page is not properly aligned well within button boundaries.

![image](https://user-images.githubusercontent.com/72145053/121777346-33943b80-cbaf-11eb-951b-11ecedc12d5b.png)

![image](https://user-images.githubusercontent.com/72145053/121777296-ee700980-cbae-11eb-8995-a0dd1a78014f.png)

I would like to fix this issue.
@QAZIMAAZARSHAD plz assign this to me un

[2021-06-12 13:24] mgjain9871 opened #110 "Spelling Mistakes"
There are 3 drop-down list of states and all there have spelling mistake in the state - "GUJARAT".
It's written "GUJRAT" while it should be "GUJARAT".

![Screenshot (111)_LI](https://user-images.githubusercontent.com/71882225/121777197-7570b200-cbae-11eb-9d37-f20bca1091d8.jpg)

Please assign this issue to me under LGM-SOC.
@QAZIMAAZARSHAD

[2021-06-12 13:28] aditya687 commented on #46
You can see my pr  @QAZIMAAZARSHAD .I have made changes in portal by aading navigation bars

[2021-06-12 13:38] mgjain9871 opened #111 "Date of Birth format wrongly mentioned"
Date of Birth format should be Day/ Month/ Year  as Date of Birth in the input field is given in this format only.

![Screenshot (113)_LI](https://user-images.githubusercontent.com/71882225/121777521-36dbf700-cbb0-11eb-92ae-df98a66f1341.jpg)

Please assign this issue to me under LGM-SOC.
@QAZIMAAZARSHAD

[2021-06-12 14:11] pranavvdesai opened #112 "changes to FAQ section"
The faq accordion doesnt close unless we select the other accordion. would also like to change the style and make it responsive.

[2021-06-12 15:03] itsij opened #116 "No spacing between input fields"
The city/village input field is a bit overlapping with the select button below it. There is no space in between them.

![image](https://user-images.githubusercontent.com/72145053/121780018-04d09200-cbbc-11eb-925f-92904440c5e1.png)

I would like to fix this issue.
@QAZIMAAZARSHAD plz assign this to me under LGM-SOC.

[2021-06-12 15:45] QAZIMAAZARSHAD commented on #112
Go ahead

[2021-06-12 15:48] QAZIMAAZARSHAD commented on #111
Go ahead

[2021-06-12 15:49] QAZIMAAZARSHAD commented on #111
Do changes in both english and hindi page.

[2021-06-12 15:50] QAZIMAAZARSHAD commented on #109
Sure

[2021-06-12 15:51] QAZIMAAZARSHAD commented on #116
Go ahead.

Do changes in both english and hindi page.

[2021-06-12 15:55] #58 closed

[2021-06-12 15:59] #12 closed

[2021-06-12 16:29] #41 closed

[2021-06-12 16:59] muthuannamalai12 opened #120 "Add Contributors.md file"
Add a file called contributors.md file and put all the contributors inside them automatically using a website called contrib rocks. I would love to work on this issue as a part of LGMSOC. Kindly assign it to me.

[2021-06-12 16:59] #77 closed

[2021-06-12 17:05] nitishapiplani commented on #2
i would like to work on this issue if possible lgmsoc21 participant

[2021-06-12 17:13] QAZIMAAZARSHAD commented on #2
Already assigned to many.
Look for any other issue.

[2021-06-12 17:29] hrshb05 opened #121 "The buttons on/off on the landing page and format of date"
## Describe the bug
1.The on/off button on the home page is not placed correctly
2. The date format is not correct.

@QAZIMAAZARSHAD Please assign this to me under LGM-SOC

[2021-06-12 17:31] #10 closed

[2021-06-12 17:37] QAZIMAAZARSHAD commented on #121
Both issues are already open #109, #111.

Before opening any issue make sure that no other similar issue is open.

[2021-06-12 17:37] #121 closed

[2021-06-12 17:55] QAZIMAAZARSHAD commented on #46
@aditya687 I cannot see your PR.
You have to mention this issue number in your PR description.

[2021-06-12 18:13] pranavvdesai opened #122 "Stucture the files"
structure the folders and file system

[2021-06-12 18:21] QAZIMAAZARSHAD commented on #122
Yes, go ahead.

But you have to change the locations of the images and file in code as well.
Also, link every page with every other page.

[2021-06-12 18:22] QAZIMAAZARSHAD commented on #122
Before making PR for this check everything very carefully and also share the live demo link with PR.

[2021-06-12 18:24] QAZIMAAZARSHAD commented on #122
I have labeled it as level 3, will decrease the label if your work will not be up to the mark.

[2021-06-12 18:45] #103 closed

[2021-06-12 18:45] #59 closed

[2021-06-12 18:47] nisha331 opened #126 "Changing the logo of the website"
## Is your feature request related to a problem? Please describe.
The logo does not give the prominent feel of the website

## Describe the solution you'd like
I have created 2 logos for the website  one could be put in navbar and 2nd one could be kept as a logo.

## Additional context
logo
![Untitled design](https://user-images.githubusercontent.com/76838660/121786300-9cde7380-cbdc-11eb-9d20-731f

[2021-06-12 18:48] nisha331 commented on #126
I as a participant would like to work on this. Kindly /assign it to me

[2021-06-12 18:50] #98 closed

[2021-06-12 18:53] QAZIMAAZARSHAD commented on #126
No navbar is fine no need for that.

But it can be used in the title bar.

[2021-06-12 18:54] QAZIMAAZARSHAD commented on #126
Upload this pic in the Images folder.

Don't change anything in the code.

[2021-06-12 18:55] QAZIMAAZARSHAD commented on #126
#9 this issue is already open and assigned to others, so can't assign to you.

Just upload image in Images folder.

[2021-06-12 19:12] aditya687 commented on #46
Sir, I have done my pr but I can't know why you can't see. I have also
mentioned my issue no. please check that. I think there is some error from
my side.

On Sat, 12 Jun, 2021, 11:25 PM Qazi Maaz Arshad, ***@***.***>
wrote:

[2021-06-12 19:31] nisha331 commented on #126
done @QAZIMAAZARSHAD . kindly check it . I had a question, will this be considered as a contribution?

[2021-06-13 04:02] QAZIMAAZARSHAD commented on #126
Yess

[2021-06-13 04:02] #126 closed

[2021-06-13 04:59] #3 closed

[2021-06-13 05:05] QAZIMAAZARSHAD commented on #46
You have not made PR to me.

I think you have made the PR to your other branch.
Watch youtube video on how to make PR or reach mentors in the slack channel.

[2021-06-13 05:22] #7 closed

[2021-06-13 05:40] #24 closed

[2021-06-13 05:48] #8 closed

[2021-06-13 07:23] #45 closed

[2021-06-13 07:29] QAZIMAAZARSHAD commented on #9
@shivshankar9, use this logo https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/blob/master/Images/logo.png.

[2021-06-13 07:37] QAZIMAAZARSHAD commented on #5
@kumarishalini6 and @shivshankar9 if you had some better idea, you are welcome to open a new issue to improve.

[2021-06-13 07:37] #5 closed

[2021-06-13 08:10] pranavvdesai commented on #122
which image is to be kept?
![image](https://user-images.githubusercontent.com/74852751/121799985-f4b4c300-cc4c-11eb-9678-7c012a138a51.png)

[2021-06-13 08:18] QAZIMAAZARSHAD commented on #122
See the current code.

[2021-06-13 08:19] QAZIMAAZARSHAD commented on #122
Don't do this way.

Update your repo, fetch upstream, create a separate branch do changes in that then make PR.

[2021-06-13 08:34] ArshWalker opened #140 "Fixing a typo & Improving footer section"
## Describe the bug
![image](https://user-images.githubusercontent.com/54627391/121800495-f2079d00-cc4f-11eb-83c0-30d389825adc.png)

## Improving Footer:
- changing font-family
- Adding Social media icons.

[2021-06-13 08:34] ArshWalker commented on #140
@QAZIMAAZARSHAD Please assign me under LGMSOC21

[2021-06-13 08:44] Khushi-agarwal opened #141 "Hover effect on the Helpdesk"
## Is your feature request related to a problem? Please describe.
There is no hover effect on the Helpdesk in the footer.I would like to add one.
Please assign me this issue.

[2021-06-13 09:14] pallavi-1812 opened #144 "Removing video on/off switch"
## Is your feature request related to a problem? Please describe.
Currently, the video switch toggle button is just in front of the video and it is impairing the look of the website. Thus I would like to move the toggle button to footer so that it does not interfere with the front look of the video.

## Describe the solution you'd like
I would like to move the toggle button to footer .
![Annotatio

[2021-06-13 10:00] #122 closed

[2021-06-13 10:01] dilshadRaza commented on #144
I would like to move the toggle

[2021-06-13 10:01] QAZIMAAZARSHAD commented on #140
Go ahead

[2021-06-13 10:18] GaurPeeyush opened #145 "Add any other Image or video in background instead of current video."
When the video plays in the background, it makes the site look unattractive and messed up. Also, the video is referring to foreign culture whereas the site is meant for Indian voters.

So I suggest either you change the current background video and add any other one which also matches with the theme of the website, or instead of any video just add any image related to voting and all,  by doing thi

[2021-06-13 10:18] GaurPeeyush commented on #145
Kindly assign me, I'd like to work on this issue :)

[2021-06-13 10:31] GaurPeeyush opened #146 "Surname shouldn't be made mandatory to enter."
An asterisk is mentioned with Surname where it's written (if any), but asterisk makes it mandatory to enter.

So to make it optional detail to be entered we have to remove the asterisk after it.
![Screenshot (239)](https://user-images.githubusercontent.com/81735768/121803663-4fa3e580-cc60-11eb-85fc-ff10d2473b8f.png)

[2021-06-13 10:32] GaurPeeyush commented on #146
I'd like to work on this issue.
Kindly assign :)

[2021-06-13 10:32] danascape commented on #145
If you want to contribute, just create a pull request with changes.

[2021-06-13 10:41] #2 closed

[2021-06-13 10:53] QAZIMAAZARSHAD commented on #141
Okk.

Also, align the help desk button properly.

[2021-06-13 11:26] QAZIMAAZARSHAD commented on #144
It's better to remove it.

No need for this button.

[2021-06-13 11:26] QAZIMAAZARSHAD commented on #144
@pallavi-1812 delete this button.

[2021-06-13 11:26] QAZIMAAZARSHAD commented on #144
Already assigned, look for some other issue.

[2021-06-13 11:30] QAZIMAAZARSHAD commented on #146
Go ahead.

[2021-06-13 11:32] QAZIMAAZARSHAD commented on #145
No never do that.
First, open an issue, ask the project admin to assign you then only start working on it.
And always mention issue number with PR.

[2021-06-13 11:33] QAZIMAAZARSHAD commented on #145
ok go ahead.

[2021-06-13 11:33] QAZIMAAZARSHAD commented on #145
Make sure video quality is good and size is small.

[2021-06-13 13:21] danascape commented on #145
I see

[2021-06-13 15:07] #141 closed

[2021-06-13 16:52] GaurPeeyush commented on #146
Issue #146 is fixed with this update of Home.html.
Kindly check the code and merge the pull request :)
After merging I'd prefer that you only close this issue.

[2021-06-13 17:37] #146 closed

[2021-06-13 17:41] #19 closed

[2021-06-13 17:43] #109 closed

[2021-06-13 17:45] GaurPeeyush commented on #145
The changes introduced fixes issue #145.
I've added a new video file in the background of the index.html, which makes the website look better than before.
Do review my code once and merge the pull request :)

[2021-06-13 18:29] #111 closed

[2021-06-13 18:32] #116 closed

[2021-06-13 18:38] mgjain9871 opened #154 "Spelling Error"
There is a spelling error in district "VARANASI".
It's written "Varnasi" while it should be "Varanasi".

![Screenshot (126)_LI](https://user-images.githubusercontent.com/71882225/121818340-3de43180-cca4-11eb-9801-36d892e16a3a.jpg)

Please assign this issue to me under LGM-SOC.
@QAZIMAAZARSHAD

[2021-06-13 18:55] mgjain9871 commented on #110
Someone has updated the list of states. So, this issue has been automatically resolved. Hence, u may close this issue.

[2021-06-13 18:59] QAZIMAAZARSHAD commented on #110
Thanks for notifying.

[2021-06-13 18:59] #110 closed

[2021-06-13 19:23] #108 closed

[2021-06-13 19:24] mgjain9871 commented on #107
Language drop down is updated by someone and hence this issue is automatically fixed. You may close this issue.

[2021-06-13 19:25] #154 closed

[2021-06-13 19:25] #107 closed

[2021-06-13 19:42] QAZIMAAZARSHAD opened #157 "Replace foreign languages with Indian and regional languages"
It should be Functional.

![Screenshot (112)](https://user-images.githubusercontent.com/56196640/121819934-85bb8680-ccad-11eb-9545-16f68cc7e033.png)

[2021-06-14 03:57] Esha-Sherring commented on #157
Would like to work on this issue . A participant in LGMSOC21

[2021-06-14 05:27] harshita9621 commented on #157
Hii, I would like to work on this issue. Do assign me if possible. Thank You!

[2021-06-14 06:23] Khushi-agarwal opened #159 "Help desk section"
## Is your feature request related to a problem? Please describe.
I want to improve the help desk section like enhancing the text, adding color to them .
Please assign me this issue under lgmsoc.

[2021-06-14 07:34] ankh77sb opened #160 "Resizing music box"
## Describe the bug
the music box page requires scaling.. I want to resize to avoid scrolling on most view ports
Kindly assign the issue to me

[2021-06-14 07:35] #160 closed

[2021-06-14 07:47] GaurPeeyush opened #161 "Spelling and grammatical errors in README.md"
## Describe the bug
It should be "sneak peek" instead of "sneek peek" in README.md
## To Reproduce
Steps to reproduce the behavior:
Update README.md

## Expected behavior
"sneek peek" would be changed to "sneak peek"

[2021-06-14 07:48] GaurPeeyush commented on #161
I'd like to work on this issue.
Kindly assign me :)

[2021-06-14 08:13] #9 closed

[2021-06-14 08:15] QAZIMAAZARSHAD commented on #157
Someone else was ahead in line.

Look for some other issues.

[2021-06-14 08:20] QAZIMAAZARSHAD commented on #161
But this is too small issue.

Look for other grammatical and spelling mistakes as well.

[2021-06-14 08:44] GaurPeeyush commented on #161
All the spelling and grammatical mistakes in README.md are rectified.
Do check it out once and merge the pull request :)
Henceforth, close this issue.

[2021-06-14 09:33] Aaradhana11 commented on #65
I would like to contribute on this issue .

[2021-06-14 09:49] dpshikha476 opened #163 "Improve UI of Landing page"
I want to improve the header UI  and the start button design for landing page.
Will you pls assign me this under LGM-SOC'21?

[2021-06-14 09:57] Aaradhana11 commented on #65
I would like to contribute on this issue.

[2021-06-14 10:01] QAZIMAAZARSHAD commented on #65
Remember only the best design will be accepted.

[2021-06-14 10:54] #161 closed

[2021-06-14 11:30] QAZIMAAZARSHAD commented on #163
Go ahead.

The site is responsive in mobile as well. Check responsiveness also while making any changes.

[2021-06-14 11:58] MathurUtkarsh opened #165 "Nickname of the applicant's relative should not be mandatory."
An asterisk is mentioned with nickname of th applicant's relative which makes it mandatory to enter.
I thought this should not be mandatory so we have to remove asterisk to make it optional.
![Screenshot ](https://user-images.githubusercontent.com/78642104/121888599-d1b20e00-cd35-11eb-9709-876200a46a1b.png)

[2021-06-14 11:58] MathurUtkarsh commented on #165
I'd like to work on this issue.
Kindly assign :)

[2021-06-14 11:58] #37 closed

[2021-06-14 12:38] #165 closed

[2021-06-14 13:46] harshita9621 commented on #4
Sir can I use Icon and logo for footer design.

[2021-06-14 14:24] QAZIMAAZARSHAD commented on #4
okk

[2021-06-14 14:45] dpshikha476 commented on #163
Sure!

[2021-06-14 15:09] itsij opened #167 "Start button is not clickable"
## Describe the bug
The entire start button on home page is not clickable. Only the text written on it "Start" is clickable.

## To Reproduce
Steps to reproduce the behavior:
1. Go to the home page
2. Click on start button but not on the "start" text written on it
3. next page will not open
4. it will open only after clicking on "start" text

## Expected behavior
Entire button should be clickable,

[2021-06-14 15:12] QAZIMAAZARSHAD commented on #167
Which button.

The start button is perfectly working?

[2021-06-14 16:21] itsij commented on #167
If u click this green marked area on the start button, then it will not take u to next page. Next page (login page) will open only if u click on the hypertext. So, i mean to say that entire button is not clickable, only the hypertext is clickable.

![image](https://user-images.githubusercontent.com/72145053/121924863-f02a0080-cd59-11eb-87e4-8ad6c90d0e2a.png)

[2021-06-14 16:27] itsij commented on #167
If u click this green marked area on the start button, then it will not take u to next page. Next page will open only if u click on the hypertext on the button. So, i mean to say that the entire button is not clickable, only the hypertext "Start" written on it is clickable.
 @QAZIMAAZARSHAD
![image](https://user-images.githubusercontent.com/72145053/121926086-36339400-cd5b-11eb-8c5b-1269c326e2fa.p

[2021-06-14 16:41] Sukhseerat-Kaur opened #168 "Flag takes a lot of time to glow on hover"
## Describe the bug
Flag on the upper left corner takes a lot of time to glow on hover. It should be fixed.

## Expected behavior
The glow up of the flag should be immediate as soon as a hover is there.

## Environment (please complete the following information):
 - OS: Windows
 - Browser: Chrome

[2021-06-14 16:41] Sukhseerat-Kaur commented on #168
@QAZIMAAZARSHAD Please let me change this. Assign me this under LGMSOC'21

[2021-06-14 17:34] Salonee-Jain commented on #168
Can I work on this issue under LGMSOC'21

[2021-06-14 17:38] QAZIMAAZARSHAD commented on #168
Look for some other issue, this is already assigned.

[2021-06-14 18:53] #31 closed

[2021-06-14 19:04] QAZIMAAZARSHAD commented on #120
Already resolved.

[2021-06-14 19:04] #120 closed

[2021-06-15 08:26] #28 closed

[2021-06-15 12:58] SS-Ace commented on #168
Goodevening sir, i have fixed this issue. Can i upload it or should i work on some other issue? If i can upload then can you guide me?

[2021-06-15 13:29] QAZIMAAZARSHAD commented on #168
If you have solved the issue, make pull request.

First, update your repo, fetch upstream then make changes then make PR.

[2021-06-15 14:41] royalleads15 opened #176 "Add toggle password visibility"
Whenever user enters his password on website there must be a toggle button of "Show password" by clicking on which user can see whatever password he/she types .

[2021-06-15 14:46] Sukhseerat-Kaur commented on #168
@QAZIMAAZARSHAD But this issue was assigned to me.

[2021-06-15 14:49] QAZIMAAZARSHAD commented on #168
Yes, and it is still assigned to you, I have not merged any PR for this issue.

[2021-06-15 14:59] Sukhseerat-Kaur commented on #168
@QAZIMAAZARSHAD I opened a PR #177 solving this issue

[2021-06-15 15:02] #168 closed

[2021-06-15 15:28] Jagannath8 opened #178 "Favicon in every page"
## Describe the solution you'd like
Adding favicon in every page

[2021-06-15 15:28] Jagannath8 commented on #178
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-15 16:10] QAZIMAAZARSHAD commented on #178
Use this logo -> https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/blob/master/Images/flag.png.

[2021-06-15 16:18] SS-Ace commented on #25
Sir, can i also contribute to this?

[2021-06-15 16:20] SS-Ace commented on #30
Sir, Can i also work on this issue?

[2021-06-15 16:44] QAZIMAAZARSHAD commented on #25
@RohanKeshri87 are you working on this issue?

[2021-06-15 16:45] QAZIMAAZARSHAD commented on #25
If @RohanKeshri87 didn't respond then I will assign you.

[2021-06-15 16:47] QAZIMAAZARSHAD commented on #30
Already assigned to others, will be resolved soon.

[2021-06-15 16:53] SS-Ace commented on #25
Ok sir!

[2021-06-15 16:53] SS-Ace commented on #30
ok sir!

[2021-06-15 17:35] engineerscodes opened #180 "Email validation is not Done properly and it must be Done on backend also because HTML,js can be edited too"
<img   width="500px" height="900px"   src="https://user-images.githubusercontent.com/68312849/122097661-8a0ead80-ce2d-11eb-95e5-9f03c4772610.png" >

![image](https://user-images.githubusercontent.com/68312849/122097710-9a268d00-ce2d-11eb-9a2e-4be8cd2b19c6.png)

[2021-06-15 17:57] RahulBansal0502 opened #181 "Replace header image"
In my view, if we make the header in this way like first the heading will be written in English then below that in Hindi.

I want to work on this issue. Assign it to me @QAZIMAAZARSHAD

[2021-06-15 18:05] QAZIMAAZARSHAD commented on #181
Okk go ahead.

[2021-06-15 18:11] #159 closed

[2021-06-15 19:20] jatinjain001 commented on #4
I would like to work on this issue
.

[2021-06-15 19:45] RohanKeshri87 commented on #25
yes sir i m working

[2021-06-15 19:46] RohanKeshri87 commented on #25
actually sir my sister was n aunt was Covid+ so dats y sir i was quiet busy  and sir my exams was also gng on

[2021-06-15 19:46] RohanKeshri87 commented on #25
dont issue to any1 i will be cmpltng dis ASAP

[2021-06-15 19:46] RohanKeshri87 commented on #25
sryy sir

[2021-06-15 20:53] royalleads15 opened #187 "Add logo in title section"
## Is your feature request related to a problem? Please describe.
Logo feature is not added in login.html and signup.html

## Describe the solution you'd like
Indian flag must be added in title section of login and signup page

## Additional context
![login title](https://user-images.githubusercontent.com/56637948/122121877-bf28f900-ce49-11eb-84a6-106ce6cd17b8.jpg)
![signup_title](https://user-ima

[2021-06-16 04:11] gargi111 commented on #187
I would like to fix this issue as LGM   SOC21.participant .pls assign this work to me .

[2021-06-16 05:08] sameer2403 commented on #187
/assign

[2021-06-16 05:31] QAZIMAAZARSHAD commented on #4
Already assigned

[2021-06-16 05:36] kumarishalini6 opened #190 "ON OFF button at indexpage"
## Describe the bug
When i put video at index.html page and create a on off button that time it was working but now it's not working. Maybe mistaken by some participant.
@QAZIMAAZARSHAD I want to resolve this issue.

[2021-06-16 05:43] kumarishalini6 opened #191 "Forget password page"
## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environment (please complete the following information):
 - O

[2021-06-16 06:00] kumarishalini6 commented on #35
@QAZIMAAZARSHAD can i use another netflix effect , i have tried but i am not able to make the same effect

[2021-06-16 06:42] QAZIMAAZARSHAD commented on #187
@royalleads15, @gargi111, and @sameer2403 this issue is already open #178.

Before opening any issue make sure that no other similar issue is open.

[2021-06-16 06:42] #187 closed

[2021-06-16 07:02] #13 closed

[2021-06-16 07:04] QAZIMAAZARSHAD commented on #190
Yes, due to an update.

But I think their is no need for that button, an issue to remove it already open #144.

[2021-06-16 07:04] #190 closed

[2021-06-16 07:22] QAZIMAAZARSHAD commented on #35
Yaa sure, that was just an example to show you.

Use any effect.

[2021-06-16 07:23] QAZIMAAZARSHAD commented on #35
Add this splash screen after the user logins or sign's up.

[2021-06-16 08:17] mdinesh124 opened #194 "Adding scroll bottom to top button"
## Describe the solution you'd like
Adding  a bottom to top button ensures scrolling the page from bottom to top in just one button click.

[2021-06-16 08:17] mdinesh124 commented on #194
@QAZIMAAZARSHAD I would work on this issue under LGMSOC.

[2021-06-16 08:20] QAZIMAAZARSHAD commented on #194
@mdinesh124 have a look at the website -> https://qazimaazarshad.github.io/Voters-Registration-Portal/.

Before doing any activity always verify.

[2021-06-16 08:20] #194 closed

[2021-06-16 09:40] #191 closed

[2021-06-16 10:00] kumarishalini6 commented on #35
Ok

[2021-06-16 12:56] pruthvirajjadhav1 opened #197 "Create a logout button on registration portal"
On clicking the logout button user should be redirected to the login page,

Create logout button on home.html and formcorrection.html.

[2021-06-16 13:06] pruthvirajjadhav1 opened #198 "While signup if input gets wrong it reset the whole form."
## Describe the bug
While filling the signup form if something wrong has been input then the whole form gets reset

## Expected behavior
While filling the form if something wrong gets input it should show an error but it should not reset the whole form.

## Environment (please complete the following information):
 - OS: Windows 10
 - Browser: Crome

[2021-06-16 13:09] QAZIMAAZARSHAD commented on #197
Create a logout button on home.html, whenever users click on log out a pop-up should appear "Are you sure you want to log out your changes have not been saved" then it takes the user back to the login page.

Also, try to add something like logged in Mr. XYZ. If you can. Else just create a logout button.

[2021-06-16 13:18] pruthvirajjadhav1 opened #199 "Some of the text on registration page is out side the box"
## Describe the bug
On the registration form, some information is crossed the information box.

![Screenshot (5)](https://user-images.githubusercontent.com/73253354/122226102-42426180-ced3-11eb-9fa3-dd727884721a.png)

[2021-06-16 13:23] QAZIMAAZARSHAD commented on #199
No everything's fine,
![Screenshot (126)](https://user-images.githubusercontent.com/56196640/122226877-ff34be00-ced3-11eb-8eec-c5e30a72d797.png)

Maybe you have zoomed or minimized the screen.

[2021-06-16 13:23] #199 closed

[2021-06-16 14:55] Deep06-11 commented on #157
I want to contribute to this issue under LGM SOC 21. Please assign it to me.

[2021-06-16 14:59] QAZIMAAZARSHAD commented on #157
Remember the first and best solution will be accepetd.

[2021-06-16 15:29] sameer2403 commented on #197
/assign

[2021-06-16 15:32] sameer2403 commented on #46
/assign me  this issue . i would like to work on it

[2021-06-16 16:35] #167 closed

[2021-06-16 17:10] sameer2403 commented on #23
I would like to work on this issue.Please assign me

[2021-06-16 17:51] #163 closed

[2021-06-16 18:36] QAZIMAAZARSHAD commented on #181
@RahulBansal0502 you can replace the 'register to vote' image in the header with flag.png on every page.

[2021-06-16 18:41] RahulBansal0502 commented on #181
I will replace this but this is not a Level0 issue. There are so many loop holes in the code.

[2021-06-16 18:54] ishitakapoor26 opened #201 "Add LGM-SOC'21 score card in readme.md"
Add LGM-SOC'21 score card in readme.md

[2021-06-16 18:55] ishitakapoor26 commented on #201
@QAZIMAAZARSHAD pls assign me this issue.

[2021-06-17 05:04] QAZIMAAZARSHAD commented on #181
@RahulBansal0502 you have to only replace vote.png with flag.png on three pages.
I don't think this is anyway a little more than zero level.

Also, the levels label in the issue is just temporary, most of the times I have increased or decreased the level according to the efforts of the contributor, lines of code written and the PR made.

[2021-06-17 05:08] QAZIMAAZARSHAD commented on #201
How do you plan to do that?

[2021-06-17 07:10] ishitakapoor26 commented on #201
Here is a screenshot
![Uploading score card.PNG…]()

[2021-06-17 07:12] ishitakapoor26 commented on #201
@QAZIMAAZARSHAD Here is the ss
![score card](https://user-images.githubusercontent.com/78542333/122349015-6d779000-cf69-11eb-9ec1-1b6f745f0ceb.PNG)

[2021-06-17 07:22] RahulBansal0502 commented on #181
Oh ok, I understand now I have to only replace my header image now only.

[2021-06-17 07:29] QAZIMAAZARSHAD commented on #201
Oo you mean this, I thought you were saying points of all the contestants.

[2021-06-17 07:31] QAZIMAAZARSHAD commented on #201
Ok add it in the open source program section, and don't add a large screenshot.

[2021-06-17 08:24] #181 closed

[2021-06-17 08:58] Swarga-codes opened #203 "Modifying the login portal"
It was an amazing website to be honest and I think that the login portal could be made much better , so @QAZIMAAZARSHAD  can you please /assign me with the task of improving upon the CSS of the login page.

[2021-06-17 09:16] ishitakapoor26 commented on #201
@QAZIMAAZARSHAD can I add this to your other projects also?

[2021-06-17 10:00] #201 closed

[2021-06-17 10:04] QAZIMAAZARSHAD commented on #201
Okk open the issues, and ask me to assign you.

Also, you have added it below the letsgrowmore logo, Add it just beside the logo in the same section.

[2021-06-17 10:42] #176 closed

[2021-06-17 14:01] tanzzz-tech commented on #203
can u please assign me this issue i am a lgm soc participant can make a better one?which ever page u like merge it but if possible assign me too!

[2021-06-17 14:02] tanzzz-tech commented on #178
can u plz assigm me this issue?i can add the logo in title section

[2021-06-17 14:04] tanzzz-tech commented on #197
can u assign me this issue i have better ideas like i can create a prompt as well "do u want to logout"?

[2021-06-17 14:04] QAZIMAAZARSHAD commented on #203
okk go ahead.

But remember the first and better solution will be accepted.

[2021-06-17 14:05] tanzzz-tech commented on #65
i will like to contribute for this issue kindle assign me?

[2021-06-17 14:06] tanzzz-tech commented on #25
can u assign me this issue?

[2021-06-17 14:08] QAZIMAAZARSHAD commented on #178
@Jagannath8 if you didn't solve this issue till tomorrow then I will assign @tanzzz-tech.

[2021-06-17 14:09] QAZIMAAZARSHAD commented on #197
Already assigned to others.

[2021-06-17 14:09] Amrutha1101 commented on #178
Can you assign me this issue?

[2021-06-17 14:11] QAZIMAAZARSHAD commented on #25
Already assigned to another participant.

[2021-06-17 14:12] QAZIMAAZARSHAD commented on #178
Many people are ahead in line.
Look for some other issue.

[2021-06-17 14:15] Jagannath8 commented on #178
This issue is already solved by someone.

[2021-06-17 14:20] QAZIMAAZARSHAD commented on #178
https://qazimaazarshad.github.io/Voters-Registration-Portal/

Check again, not a single page has a favicon.

[2021-06-17 14:21] QAZIMAAZARSHAD commented on #178
Use this logo -> https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/blob/master/Images/flag.png

[2021-06-17 16:18] #178 closed

[2021-06-18 05:44] Sourav61 opened #207 "Selecting Language Option to change language isn't visible"
When we come to the Home page of the website, i am not able to see any option to change the language.
![Capture7](https://user-images.githubusercontent.com/70853906/122512254-387d4300-d026-11eb-87e4-d332074d6468.JPG)

@QAZIMAAZARSHAD Sir, Can you pls assign me this issue??

[2021-06-18 05:45] Sourav61 commented on #6
Sir i will be able to display list of supported documents in hindi only when #207 gets resolved!!

[2021-06-18 05:57] QAZIMAAZARSHAD commented on #207
![Screenshot (132)](https://user-images.githubusercontent.com/56196640/122513449-0f5db200-d028-11eb-8214-df924134a87f.png)
 It is fine, maybe some issue with your window screen( zoom/zzom out).

[2021-06-18 05:57] #207 closed

[2021-06-18 06:03] QAZIMAAZARSHAD commented on #6
There is no such issue.
![image](https://user-images.githubusercontent.com/56196640/122513864-a1fe5100-d028-11eb-971a-61b458459fc3.png)

Make PR its fine, and I was talking about popup in hindi.html not popup in Hindi language as well. Now their is no hindi.html.

Just add your popup in home.html and make PR.

[2021-06-18 06:10] Sourav61 commented on #6
So should the popup be submitted only in English language now @QAZIMAAZARSHAD sir?

[2021-06-18 06:13] QAZIMAAZARSHAD commented on #6
Yes

[2021-06-18 06:13] Sourav61 commented on #6
okk @QAZIMAAZARSHAD  sir!!

[2021-06-18 06:14] QAZIMAAZARSHAD commented on #6
Update your repo, I think you are not familiar with new changes.

[2021-06-18 06:15] Sourav61 commented on #6
I have forked and cloned just now @QAZIMAAZARSHAD sir, will make a PR very soon!!

[2021-06-18 06:22] QAZIMAAZARSHAD commented on #6
Also, fetch upstream(Most important)

[2021-06-18 06:22] Sourav61 commented on #6
okk @QAZIMAAZARSHAD sir!!

[2021-06-18 10:02] QAZIMAAZARSHAD commented on #144
@dilshadRaza you can work on this issue now.

Remove video On/Off switch from index.html.

[2021-06-18 10:03] RiyaGupta89 opened #209 "Footer content"
![6](https://user-images.githubusercontent.com/72425181/122544519-8441e380-d04a-11eb-847f-363a34cd9b47.png)
The footer content has no padding on the top. Please assign me this issue.

[2021-06-18 10:06] RiyaGupta89 opened #210 "Details page"
![7](https://user-images.githubusercontent.com/72425181/122544840-d2ef7d80-d04a-11eb-9226-e40d7be36de5.png)
This alert of form submit successfully shows even when you don't fill up the details which obviously seems like a buggy website. Needs to be resolved.

[2021-06-18 10:08] QAZIMAAZARSHAD commented on #209
@RiyaGupta89 you can work on issue number https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/4.

Ping me there to assign you.

[2021-06-18 10:14] RiyaGupta89 commented on #4
May I work on this issue?

[2021-06-18 10:20] QAZIMAAZARSHAD commented on #144
Only the first PR will be accepted since more than one participant is working on this.

[2021-06-18 10:44] RiyaGupta89 commented on #4
![8](https://user-images.githubusercontent.com/72425181/122549490-2a441c80-d050-11eb-8049-f3b2283c18ec.png)
I resolved this issue, please review the code.

[2021-06-18 10:53] dilshadRaza commented on #144
thank you sir
I will remove this on/off button

[2021-06-18 11:00] #144 closed

[2021-06-18 11:03] QAZIMAAZARSHAD commented on #144
This issue has been resolved now.

Sorry @dilshadRaza their has been a misunderstanding that's why I assigned you.

[2021-06-18 11:05] QAZIMAAZARSHAD commented on #4
@RiyaGupta89 this issue is to completely redesign the footer.

[2021-06-18 11:17] #209 closed

[2021-06-18 11:42] RiyaGupta89 commented on #210
![9](https://user-images.githubusercontent.com/72425181/122555661-33d18280-d058-11eb-881e-c13a8e4c8166.png)
Now if you try to submit an empty form, it will display this alert. Please check if it seems okay. If yes, then I'll request for the PR.

[2021-06-18 11:45] RiyaGupta89 commented on #4
Oh okay sure. I'll do it. Do you want something else like some icon in the footer section too? Or you just want to keep this much content only and just to redesign the footer?

[2021-06-18 11:49] dilshadRaza commented on #144
its ok
no problem sir

[2021-06-18 11:55] #210 closed

[2021-06-18 11:59] QAZIMAAZARSHAD commented on #4
No, you can add many things if you think it will be better.
It will be better if you refer to some footer designs of some Indian government websites.

[2021-06-19 09:40] RiyaGupta89 commented on #4
![9](https://user-images.githubusercontent.com/72425181/122638192-75256900-d110-11eb-8dba-124e0b64bd92.png)
Please have a look if it seems okay?

[2021-06-19 09:41] RiyaGupta89 commented on #4
If you want anymore changes you can let me know else can I request for the PR?

[2021-06-19 09:58] #4 closed

[2021-06-19 10:02] QAZIMAAZARSHAD opened #216 "Improve footer design"
Design footer like this
![image](https://user-images.githubusercontent.com/56196640/122638752-8ae85d80-d113-11eb-9acd-a824126d484d.png)

[2021-06-19 10:20] RiyaGupta89 commented on #216
I can work on this issue. Can you tell me the content which should be included in the footer?

[2021-06-19 10:25] QAZIMAAZARSHAD commented on #216
Make it exact same.

Just replace words like UIDAI with national voter portal.
copyright voter portal rights reserved by Qazi Maaz etc.

[2021-06-19 12:19] RiyaGupta89 commented on #216
![1](https://user-images.githubusercontent.com/72425181/122642161-9db85d80-d126-11eb-9fde-d8664b191f0b.png)
Please have a look if this looks okay?

[2021-06-19 12:19] RiyaGupta89 commented on #216
Should I request for PR?

[2021-06-19 12:20] RiyaGupta89 commented on #216
You want this footer on all the pages, right? Like on signup page, login page, home page, and the opening page, right?

[2021-06-19 13:40] QAZIMAAZARSHAD commented on #216
The bottom of the footer doesn't look nice.
Remove tabs of home, help, login, etc.
Move the help desk button in the contact us section above follow us. And redesign the button like other things in the footer.
And the position of copyright text is fine but the background should be transparent like the rest of the footer.

And add the footer on every page except index.html.

[2021-06-20 03:23] harshita9621 commented on #216
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-20 03:23] harshita9621 commented on #203
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-20 03:49] RiyaGupta89 commented on #216
@harshita9621 Bro, I am working on this issue. There are many other issues, find one that is suitable to you.

[2021-06-20 05:03] QAZIMAAZARSHAD commented on #216
Yess, Already assigned.

Look for some other issues.

[2021-06-20 05:23] QAZIMAAZARSHAD commented on #203
This issue has already been resolved, PR not merged due to conflicts.

[2021-06-20 09:36] RiyaGupta89 commented on #216
![9](https://user-images.githubusercontent.com/72425181/122669054-18da4c00-d1d9-11eb-9f32-78f2411d9a7d.png)
Does this look okay?

[2021-06-20 09:39] QAZIMAAZARSHAD commented on #216
Cool,

Add a little bit of padding between the footer and end of the form.

[2021-06-20 09:40] QAZIMAAZARSHAD commented on #216
Try to make the help button transparent.

[2021-06-20 09:54] RiyaGupta89 commented on #216
Added the padding between footer and end of the form.
And the help button looks like this if I'm making it transparent, won't look that good. On hover it does the background color white and color black.
![a](https://user-images.githubusercontent.com/72425181/122669539-838c8700-d1db-11eb-8de5-97c800aa8c33.PNG)

[2021-06-20 09:57] RiyaGupta89 commented on #216
Should I commit my code? @QAZIMAAZARSHAD

[2021-06-20 09:58] RiyaGupta89 commented on #216
Or you want some more changes? @QAZIMAAZARSHAD

[2021-06-20 09:58] QAZIMAAZARSHAD commented on #216
Okk fine, do whatever you feel that looks good.

Then make PR. Add footer in all pages except index.html.

[2021-06-20 10:00] QAZIMAAZARSHAD opened #218 "Contributors pic not displaying in readme"

[2021-06-20 10:03] RiyaGupta89 commented on #216
Done.

[2021-06-20 10:30] harsh72835 commented on #218
wanted to work on this under Lgm-Soc-21

[2021-06-20 12:56] harshita9621 commented on #216
@QAZIMAAZARSHAD Can I work on this issue?

[2021-06-20 13:30] nlok5923 commented on #25
@RohanKeshri87 please can you update us how's going.

[2021-06-20 13:30] QAZIMAAZARSHAD commented on #216
Already assigned.

[2021-06-20 13:31] nlok5923 commented on #35
@QAZIMAAZARSHAD do we really need a splash screen for our website or it is a loader to load some static asset.

[2021-06-20 13:33] nlok5923 commented on #46
@sameer2403 please can you give some update on this issue.

[2021-06-20 13:39] nlok5923 commented on #140
@ArshWalker please can you update us about this issue how's it's going or you need any help

[2021-06-20 13:41] QAZIMAAZARSHAD commented on #35
Yes, a splash screen with the website logo will be good.

Website already has a splash screen but there are a few bugs and the style and design also need improvement that's why this issue is open.

[2021-06-20 13:46] nlok5923 commented on #35
One more doubt will user see this splash screen for a fixed time interval or the splash screen will be visible untill the content of the website loads up.

[2021-06-20 13:47] QAZIMAAZARSHAD commented on #140
This issue was open 7 days ago, a lot of updates have occurred since then.

This issue no longer exists.

[2021-06-20 13:47] #140 closed

[2021-06-20 13:50] nlok5923 commented on #140
@QAZIMAAZARSHAD can you please check my dm at discord.

[2021-06-20 13:51] QAZIMAAZARSHAD commented on #35
My apology,

I thought we are talking about my other project movie website.

Since this website now has already got a preloader there is no need for a splash screen.

[2021-06-20 13:51] #35 closed

[2021-06-20 17:12] harsh72835 commented on #218
there's issue with application of contrib-rocks and also on application our projects link is not generating so how can we do it?

manually can we try?

[2021-06-21 04:10] QAZIMAAZARSHAD commented on #218
That's why this issue is open.

Try some other way, google it, search on stack overflow, reach out to mentors or fellow participants for help.

[2021-06-21 04:48] royalleads15 commented on #23
@QAZIMAAZARSHAD Sir I am also interested , kindly assign me too.

[2021-06-21 04:54] royalleads15 opened #223 "Properly align emblem image"
## Describe the bug
float satyamev jayate image to left so that it cannot override header and a bug in dark night mode toogle switch button

![bug](https://user-images.githubusercontent.com/56637948/122708881-cea9a700-d27a-11eb-998a-7fd04e6b0a19.jpg)

[2021-06-21 05:03] RohanKeshri87 commented on #25
sir the thng happen is dat i m also covid+ and  dats y m nt allowed to touch anything m in home quarantine where my grandma.mom dad stays so i just 4 days left fr my quaratine kindly understand plzz.

[2021-06-21 05:10] QAZIMAAZARSHAD commented on #223
There is no such bug when I open website.

![image](https://user-images.githubusercontent.com/56196640/122709935-e41fd080-d27c-11eb-96e7-d41e95d96d69.png)

[2021-06-21 05:12] QAZIMAAZARSHAD commented on #223
But shift emblem image a little towards left.

Check responsiveness as well.

Do changes in every page.

[2021-06-21 05:13] QAZIMAAZARSHAD commented on #25
Fine

[2021-06-21 07:40] harsh72835 commented on #218
Okay

[2021-06-21 07:42] harsh72835 commented on #218
Now, It is showing contributors images on readme file

[2021-06-21 07:44] QAZIMAAZARSHAD commented on #218
Look's like you solved the issue without a PR.

haha......

[2021-06-21 07:44] #218 closed

[2021-06-21 08:54] royalleads15 commented on #17
Sir I have a query , what's the meaning of regional keyboard over here .

[2021-06-21 09:22] QAZIMAAZARSHAD commented on #17
Virtual keyboard in Hindi.

[2021-06-21 09:24] #23 closed

[2021-06-21 09:37] royalleads15 commented on #17
I would like to work on it sir , if possible then do assign me too

[2021-06-21 10:14] QAZIMAAZARSHAD opened #225 "Adjust print button in mobile view"
![image](https://user-images.githubusercontent.com/56196640/122746275-7b9a1900-d2a7-11eb-993a-c534bdfd8938.png)

[2021-06-21 10:18] QAZIMAAZARSHAD opened #226 "Improve print form functionality"
Print function prints the entire web page including header, footer, captcha, etc.

It should work properly and only the submitted form should be printed.

[2021-06-21 10:22] royalleads15 commented on #225
I am ready to work on that, please do assign me

[2021-06-21 10:46] asdsyd commented on #223
Can I work on this issue?

[2021-06-21 10:53] royalleads15 commented on #226
Sir I think I can improve it more, assign me so that I can continue.

[2021-06-21 10:57] RiyaGupta89 commented on #226
Where is the print function? I can't find it.

[2021-06-21 11:31] QAZIMAAZARSHAD commented on #223
This issue is already assigned look for some other issues.

[2021-06-21 11:32] QAZIMAAZARSHAD commented on #226
In the header of home.html.

[2021-06-21 12:05] pruthvirajjadhav1 commented on #197
Can anyone help me  I had creates a logout button but I cant redirect it to the login portal after clicking it can anyone help me.

[2021-06-21 12:06] royalleads15 commented on #225
![prnt1](https://user-images.githubusercontent.com/56637948/122758984-16e6ba80-d2b7-11eb-85de-f70a5b8ac8b3.jpg)
![prnt2](https://user-images.githubusercontent.com/56637948/122758996-19e1ab00-d2b7-11eb-812a-9c459da1f1ae.jpg)
Sir have a look on this, if this is right I can make PR.

[2021-06-21 12:10] QAZIMAAZARSHAD commented on #197
See other buttons like the help button how it is redirecting to other pages.

[2021-06-21 12:13] QAZIMAAZARSHAD commented on #225
Remove it from the header, add it below select language or in the same line of "Note field marked with asterisks".

Do it for both mobile and desktop views.

[2021-06-21 13:29] nlok5923 commented on #180
@engineerscodes how's going can you please share some updates ?

[2021-06-21 13:31] nlok5923 commented on #65
@tanzzz-tech @Aaradhana11 @Devansh2000Shaw @2024-SANDHYA @KhushiRoy @SHUBHANSHU-creator guys can you please let me know your ideas for improvising site functionalities.

[2021-06-21 13:32] nlok5923 commented on #30
@royalleads15 @V-Yeshwanth guys how's going a you please share some updates ?

[2021-06-21 13:37] nlok5923 opened #227 "Website lacks responsiveness over some resolutions"
## Describe the bug
An extra spacing has been encountered while taking website tour at lower resolutions

## To Reproduce
Steps to reproduce the behavior:
1.  Header over to voter login page
2.  resize page
3. See issue
4.

## Expected behavior
The should not be any extra spacing

## Logs
![image](https://user-images.githubusercontent.com/56120084/122771138-c75abb80-d2c3-11eb-913e-eb7ca9a07c13.png

[2021-06-21 13:37] nlok5923 commented on #227
@QAZIMAAZARSHAD can you please confirm it ?

[2021-06-21 13:40] nlok5923 opened #228 "Include JavaScript in tech stack section of readme"
## Describe the bug
Current readme only has html and css as tech stack for website

## To Reproduce
Steps to reproduce the behavior:
1.  Head over to readme tech stack section

## Expected behavior
Include JS  logo as one of the stack for website

## Logs
add JS image too
![image](https://user-images.githubusercontent.com/56120084/122771662-44863080-d2c4-11eb-8c45-b20f2bb95f3f.png)

## Environment

[2021-06-21 13:43] naveen8801 commented on #228
Hi @nlok5923, I'd like to take this up, please assign :)

[2021-06-21 14:19] nlok5923 commented on #228
@naveen8801 GFI 👍

[2021-06-21 14:39] royalleads15 commented on #30
Will do it on time, dont worry

[2021-06-21 15:27] RiyaGupta89 commented on #227
Can I work on it after finishing my other two issues?

[2021-06-21 15:29] nlok5923 commented on #227
Sure

[2021-06-21 16:04] #216 closed

[2021-06-21 16:06] RiyaGupta89 commented on #226
Sorry, I still cannot see it. Is the print button not there in the home page on the website? You can tell me the location of it and I'll find it.

[2021-06-21 16:07] RiyaGupta89 commented on #226
Oh, I saw it. Okay. No need to answer now.

[2021-06-21 16:21] RiyaGupta89 commented on #226
@QAZIMAAZARSHAD I removed footer part. Tell me about the header, from where you want it to print? from mandatory specifications? Or from somewhere else?

[2021-06-21 16:21] RiyaGupta89 commented on #226
@QAZIMAAZARSHAD From form 6?

[2021-06-21 16:27] QAZIMAAZARSHAD commented on #226
Yes from form 6 to I am aware signature.

[2021-06-21 16:36] RiyaGupta89 commented on #226
![print2](https://user-images.githubusercontent.com/72425181/122797156-cc783480-d2dc-11eb-81af-38c264283509.png)
![print1](https://user-images.githubusercontent.com/72425181/122797160-ceda8e80-d2dc-11eb-9335-fbc38243408e.png)
Have a look, is it okay? Or you want something more to exclude from the print page?

[2021-06-21 16:43] RiyaGupta89 commented on #227
Can you specify what are the those resolations on which website lacks responsivess? Or there are just two of them?

[2021-06-21 17:05] jatinjain001 commented on #228
I would like to work on it , Please let me know

[2021-06-21 17:05] nlok5923 commented on #227
you can tru around 158 x 677

[2021-06-21 17:06] jatinjain001 commented on #197
I would like to work on it please let me know if it is available

[2021-06-21 17:07] nlok5923 commented on #228
@jatinjain001 this issue has been already assigned to @naveen8801 you can search for other issues.

[2021-06-21 17:40] Albert-Jokelin commented on #227
Hey! Can I try fixing this?

[2021-06-21 18:01] nlok5923 commented on #227
Sure go ahead assigning you.

[2021-06-21 18:58] puneetkaur2929 opened #230 "Improve padding in help page footer"
hey @QAZIMAAZARSHAD
As you can see in screenshot attached below that copyright section is not visible for voter login page .

I am interested to fix it.
Kindly assign this issue to me under LGM SOC '21
![Screenshot (34)](https://user-images.githubusercontent.com/80326308/122813373-84630d00-d2f0-11eb-91f3-dccaa135ae43.png)

[2021-06-21 19:06] royalleads15 commented on #225
@QAZIMAAZARSHAD Sir this issue is also resolved in #231

[2021-06-21 19:10] puneetkaur2929 opened #232 "To prevent Show Password from hiding"
Hey @QAZIMAAZARSHAD

In the voter Sign-Up page show password is hiding behind other options.
I am interested to work on this issue under LGM SOC '21
Kindly assign this issue to me
![Screenshot (35)](https://user-images.githubusercontent.com/80326308/122814707-33541880-d2f2-11eb-97f0-bde01b7c852b.png)

[2021-06-22 04:32] #225 closed

[2021-06-22 04:36] QAZIMAAZARSHAD commented on #226
@RiyaGupta89 the printed form should include filled details.

This was the mistake in @royalleads15 latest PR and also print form function is printing everything including the footer in mobile view.

[2021-06-22 04:38] QAZIMAAZARSHAD commented on #197
Others are already working on this issue.
Look for other issues.

[2021-06-22 04:43] QAZIMAAZARSHAD commented on #230
@puneetkaur2929 this issue has been fixed check again.

[2021-06-22 04:45] QAZIMAAZARSHAD commented on #230
But you can do one thing
![image](https://user-images.githubusercontent.com/56196640/122864574-83f36200-d342-11eb-9a8f-9d0d114e3fbb.png)

This is the screenshot of the help page, as you can see padding in the copyright line is more compared to other footers. Fix this.

[2021-06-22 04:49] QAZIMAAZARSHAD commented on #232
![image](https://user-images.githubusercontent.com/56196640/122864960-2a3f6780-d343-11eb-889d-f0d53afad306.png)

Their is no such issue, may be you have zoomed in or out your window screen.

[2021-06-22 04:49] #232 closed

[2021-06-22 04:53] #228 closed

[2021-06-22 05:01] RiyaGupta89 commented on #226
@QAZIMAAZARSHAD  My PR resolves all of these issues. Please review it.

[2021-06-22 06:24] harishpansari commented on #227
assign to me @nlok5923 I can do this.

[2021-06-22 06:30] QAZIMAAZARSHAD commented on #227
Someone is already working on this.

[2021-06-22 06:36] harishpansari commented on #227
ok

[2021-06-22 06:38] RiyaGupta89 commented on #226
@QAZIMAAZARSHAD Is there something more to change?

[2021-06-22 06:39] QAZIMAAZARSHAD commented on #226
I mentioned everything in PR.

[2021-06-22 07:14] RiyaGupta89 commented on #226
If the user is printing the form before submitting it then the details are getting printed. After that its not getting printed before the form refreshes.

[2021-06-22 08:04] QAZIMAAZARSHAD commented on #226
No even without submitting it is not printing the entered details.

Share screenshots if so.

[2021-06-22 16:23] Albert-Jokelin commented on #227
Hey!
I've completed the responsiveness of the website upto a width of 425px. I've deployed it on Netlify so that you can check it out. After that I'll create a PR.

https://suspicious-clarke-a869e9.netlify.app

[2021-06-22 16:28] RiyaGupta89 commented on #227
@Albert-Jokelin Top right icon which is for dark mode and light mode in slightly unresponsive. When you click on light mode, the user can see the moon which is not properly hidden. Check once.

[2021-06-22 16:32] Albert-Jokelin commented on #227
@RiyaGupta89 The changes are still being deployed, should be visible in a few minutes

[2021-06-22 16:33] RiyaGupta89 commented on #227
@Albert-Jokelin Okay.

[2021-06-23 11:52] RituCs commented on #180
I would like to work on this issue under LGMSOC'21 if no one is working. Please assign this issue to me.

[2021-06-23 12:32] Sakshi1007 commented on #145
Assign this to me please.

[2021-06-23 12:42] anjali481 opened #239 "Overlapping textbox and Reset/Submit button for mobile view"
![image](https://user-images.githubusercontent.com/55936581/123098098-68757d80-d44e-11eb-9b82-ac8697abf1a1.png)

In mobile view, textbox and buttons are getting overlapped.

[2021-06-23 12:43] anjali481 commented on #239
I am interested to fix it.

[2021-06-23 15:16] #227 closed

[2021-06-23 21:36] Gauravkain commented on #239
Hello , I want to contribute on this issue.

[2021-06-24 02:57] nlok5923 commented on #239
@Gauravkain this issue is already assigned to @anjali481 you can look for some other issues, thanks

[2021-06-24 07:09] QAZIMAAZARSHAD opened #241 "Fix the footer in all pages"
The red circle indicates a bug, green circle indicates correct alignment. Check these on all pages.

![Screenshot (158)](https://user-images.githubusercontent.com/56196640/123217794-98715f00-d4e8-11eb-8940-c970f424618a.png)
![Screenshot (159)](https://user-images.githubusercontent.com/56196640/123217816-9ad3b900-d4e8-11eb-8280-02d953b09599.png)

Remove large spaces in the footer in mobile view.
![

[2021-06-24 07:24] Albert-Jokelin commented on #241
I can work on this

[2021-06-24 08:15] #230 closed

[2021-06-24 17:46] #112 closed

[2021-06-24 23:02] #226 closed

[2021-06-24 23:24] QAZIMAAZARSHAD opened #246 "Improve print form functionality"
Not working on mobile.

Many sections are not printing on the desktop either.

[2021-06-24 23:26] QAZIMAAZARSHAD commented on #226
@royalleads15 and @RiyaGupta89 you can work on issue #246 to fix the bugs.

[2021-06-25 01:40] RiyaGupta89 commented on #246
Is this issue closed?

[2021-06-25 02:19] QAZIMAAZARSHAD commented on #246
No, this one is open, the previous issue was not resolved completely but I awarded you points for a few improvements.

It is yet to be completed, now make PR's mentioning this issue.

[2021-06-25 02:51] RiyaGupta89 commented on #246
@QAZIMAAZARSHAD But I'm not able to understand the issue.
![print](https://user-images.githubusercontent.com/72425181/123362438-4c78f580-d58e-11eb-923f-687e5bd254f3.png)
The details are getting printed even in the mobile view. I don't know what is the issue now that needs to be resolved.

[2021-06-25 02:54] RiyaGupta89 opened #247 "Print icon in mobile view"
## Describe the bug
![mobileview](https://user-images.githubusercontent.com/72425181/123362606-94981800-d58e-11eb-8825-706f84c42e92.png)
The print icon is not in place at 360px wide screens.

[2021-06-25 03:05] QAZIMAAZARSHAD commented on #247
@RiyaGupta89 there is no such issue.

![image](https://user-images.githubusercontent.com/56196640/123363452-31a78080-d590-11eb-8f86-f5491dd25dc2.png)

[2021-06-25 03:05] #247 closed

[2021-06-25 03:06] QAZIMAAZARSHAD commented on #246
I tried again, details are not printing on mobile.

https://qazimaazarshad.github.io/Voters-Registration-Portal/ open link in mobile and see.

[2021-06-25 05:03] Namangujral1 opened #248 "Fix the website links in the footer section of home page"
I have seen the home page of the website and I find some bugs in the footer section. Like the mentioned websites are not be viewed as there hyperlinks are not provided in that section.

[2021-06-25 05:06] royalleads15 commented on #21
@QAZIMAAZARSHAD Sir I would also like to work on it , do assign me if possible

[2021-06-25 08:08] coding-geek21 commented on #21
@QAZIMAAZARSHAD Due to Exams I was not able to work on this issue, I have made a PR please do check it. Thank you

[2021-06-25 08:15] QAZIMAAZARSHAD commented on #21
Will review soon.

[2021-06-25 08:34] #21 closed

[2021-06-25 08:36] coding-geek21 opened #250 "Create a dashboard for displaying forms"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

When user logins , user can see a dashboard which shows forms which they want to access.

i would like to work on this please assign me @QAZIMAAZARSHAD

## Describe the solution you'd like
A clear and concise description of what you want to

[2021-06-25 08:50] QAZIMAAZARSHAD commented on #6
@Sourav61 It has been 23 days and this issue is still unresolved, if you need any help you can ask @nlok5923.

[2021-06-25 10:52] nlok5923 opened #251 "Add asterisk to the mandatory fields in sign-up page"
While registration it would be good if user is aware about which fields are mandatory to fill

add a little red *(asterisk) with the label of required field

Mandatory fields are:
First name
Last name
Email address
Password
confirm password

![image](https://user-images.githubusercontent.com/56120084/123419644-1a8c8100-d5d8-11eb-95e7-8c1a6b60b93b.png)

[2021-06-25 10:55] nlok5923 commented on #250
@coding-geek21 could you please elaborate how you will be proceeding with this issue like your implementation method, UI thoughts etc because it's quite a good feature to add up.

[2021-06-25 10:57] coding-geek21 commented on #250
Yeah we can have cards and illustrations , on clicking the cards the user will get redirected to respective forms

[2021-06-25 11:01] nlok5923 opened #252 "Migrate from conventional JS alert to Swal"
## Is your feature request related to a problem? Please describe.
Currently for all the notification/warning/alerts purposes we are using javascript inbuilt alert module. which is kinda looks very conventional with plain UI.

## Describe the solution you'd like
Migration to swal(sweetalert) javascript module. Sweet alert module in itself profile much simple methods and good looking modals

for mor

[2021-06-25 11:02] nlok5923 commented on #251
@QAZIMAAZARSHAD could you please add all the mandatory fields information of registration page to the issue description.

[2021-06-25 11:03] nlok5923 commented on #252
@QAZIMAAZARSHAD please take a look.

[2021-06-25 11:04] nlok5923 commented on #250
@coding-geek21 it would be great if you can create a UI first and share it with us so that we can smoothly work on this feature.

[2021-06-25 11:06] #248 closed

[2021-06-25 11:10] QAZIMAAZARSHAD commented on #251
Mandatory fields already have asterisks.

[2021-06-25 11:10] QAZIMAAZARSHAD commented on #251
@nlok5923  ???

[2021-06-25 11:14] coding-geek21 commented on #250
Sure I will do 👍

[2021-06-25 11:40] nlok5923 commented on #251
this issue is for registration page.

[2021-06-25 15:27] anushruti11 commented on #251
Can I work on this issue?

[2021-06-26 03:41] princeprag commented on #252
@QAZIMAAZARSHAD can i please work on this issue?

[2021-06-26 03:43] #251 closed

[2021-06-26 03:48] nlok5923 commented on #252
@princeprag  GFI 👍

[2021-06-26 03:50] Sourav61 commented on #6
@QAZIMAAZARSHAD Sir i am very sorry for delay, but i wasn't able to find any time previous few weeks as i was ill firstly due to side effects of covid vaccine and then renovation at my house i got ill for rest of time as i am allergic to dust, so i was ill for rest of the time as well. But, sir i will try my best to resolve issue as soon as possible.
Again, Sorry for the delay @QAZIMAAZARSHAD  Sir

[2021-06-26 03:53] QAZIMAAZARSHAD commented on #6
No problem

[2021-06-26 04:02] QAZIMAAZARSHAD opened #254 "Sign-up page should be submitted without non mandatory inputs"

[2021-06-26 05:07] princeprag commented on #252
@nlok5923 fields such as state, city & zipcode are not asterisked.. shall I remove them from the validation check, currently they are not supposed to be left empty!

[2021-06-26 05:10] nlok5923 commented on #252
@princeprag I think you can do that @QAZIMAAZARSHAD please confirm.

[2021-06-26 05:20] princeprag commented on #252
I think in a real word scenario, these demographic fields need to be mandatory.. @QAZIMAAZARSHAD !!

[2021-06-26 05:34] QAZIMAAZARSHAD commented on #252
Yes, fine.

Add asterisks to other fields as well.

[2021-06-26 05:34] #254 closed

[2021-06-26 08:09] princeprag opened #256 "The submit button click is failing in formCorrection"
## Describe the bug
In the formCorrection file no event gets trigerred on clicking the submit Button as the fields are not read.

## To Reproduce
Steps to reproduce the behavior:
1. Properly bind the values so they can be read from the function.

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
We should get an alert that the form is submitted or there

[2021-06-26 08:10] princeprag commented on #256
@QAZIMAAZARSHAD please have a look! Would like to work on fixing it!

[2021-06-26 08:33] QAZIMAAZARSHAD opened #257 "Validate sign-up page inputs"

[2021-06-26 08:37] QAZIMAAZARSHAD opened #258 "Validate help page and create pop-ups and alert messages"

[2021-06-26 09:13] princeprag commented on #258
@QAZIMAAZARSHAD please assign me this!

[2021-06-26 11:09] #256 closed

[2021-06-26 16:02] anushruti11 commented on #257
I would like to work on this issue.

[2021-06-26 18:02] royalleads15 opened #261 "Add captcha with speaker on Sign-up page too"
Add captcha with speaker on Sign-up page too<br>
![captcha](https://user-images.githubusercontent.com/56637948/123521776-67ef1800-d6d6-11eb-8ec1-0b78dac3ccfd.jpg)

[2021-06-26 18:29] Saumya-Patel opened #262 "theme(dark/light) Ball"
The theme ball for  changing the dark and light mode is not placed in proper position.

[2021-06-26 18:40] Saumya-Patel opened #263 "background video of welcome page"
I think the website will look more effective if we replace the background video of foreigner in home page by some Indian stuff, because the website is dedicated to INDIA only.

[2021-06-26 19:05] Namangujral1 commented on #241
Can i work on this? Please assign it to me

[2021-06-26 19:16] Albert-Jokelin commented on #241
Hey! I'm still working on it, will create a PR in a few hours

[2021-06-26 19:40] Srit20 commented on #257
i would like to work on this issue please assign me @QAZIMAAZARSHAD

[2021-06-26 23:43] #258 closed

[2021-06-26 23:57] QAZIMAAZARSHAD commented on #263
@Saumya-Patel this issue is already open https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/145.

You can work on that, ping me to assign you.

[2021-06-26 23:57] #263 closed

[2021-06-26 23:58] QAZIMAAZARSHAD commented on #241
Already resolved by @Albert-Jokelin.

[2021-06-26 23:59] QAZIMAAZARSHAD commented on #257
Already assigned.

Look for some other issues.

[2021-06-27 00:25] QAZIMAAZARSHAD opened #265 "Design a creative logo for this website"
![image](https://user-images.githubusercontent.com/56196640/123529251-195c7080-d70c-11eb-91d7-92468772ae04.png)

Design something like the above image.
Also, add a catchy desi slogan.

[2021-06-27 04:24] princeprag opened #266 "Make the required fields in FormCorrection Page dynamic and in accordance with the ticked checkboxes in section E"
## Is your feature request related to a problem? Please describe.
 To check that dynamically one those fields which are checked in column E are set to required in column F and not all fields, replicating the ideal world scenario.

## Describe the solution you'd like
This would require a logic to first get all boxes with are checked and then validate against our input.

![Screenshot (104)_LI](https

[2021-06-27 04:25] princeprag commented on #266
@QAZIMAAZARSHAD please assign me this!

[2021-06-27 04:54] nlok5923 commented on #265
@QAZIMAAZARSHAD i think you should increase the level of this issue to level2 at least because getting approval over designed logo is really hectic task i am expecting the designing logo will involve many iterations from contributor side.

[2021-06-27 04:58] nlok5923 commented on #261
@royalleads15 @QAZIMAAZARSHAD i think we should break this issue in two issue one for adding captcha and another for adding voice inputs feature.

[2021-06-27 04:59] nlok5923 commented on #261
also @royalleads15 can you please let me know are you gonna using any api for voice captcha or implement it with using built in javascript media module ?

[2021-06-27 05:06] royalleads15 commented on #261
Sir @QAZIMAAZARSHAD instead of breaking it into 2 issue I request to increase level of issue.

[2021-06-27 05:35] QAZIMAAZARSHAD commented on #261
Sure,

Remember the label in issue is always temporary and can be decreased or increased considering the efforts, number of lines of code, cleanliness of code, etc.

[2021-06-27 05:45] QAZIMAAZARSHAD commented on #265
I have labeled it as zero because there are many logo maker websites and apps, and it takes just a few minutes to create any design.
And it cannot be determined whether the contributor has used an app or has put in efforts to completely design it using photoshop or illustrator.

[2021-06-27 09:34] skpandey885 commented on #265
Hey, Can I Work On This Issue Under LGMSoC'21?

[2021-06-27 09:36] skpandey885 commented on #241
Hey, Can You Assign This Issue To Me If Any Bug is Left!
Under LGMSoC'21

[2021-06-27 09:49] nlok5923 commented on #265
@skpandey885 GFI 👍

[2021-06-27 10:31] QAZIMAAZARSHAD commented on #241
Someone is already working on it.

[2021-06-27 10:49] tjanhvi opened #267 "Social media links of the footer should be open in another tab"
The links opening in the same tab want to open it into another tab.
Please assign me this issue.

[2021-06-27 10:58] tjanhvi opened #268 "Add About Us page."
Want to add a description regarding the website.
Please assign me this issue.

[2021-06-27 11:03] tjanhvi opened #269 "Add a navgiation bar"
Wat to add a navigation bar containing home, about us page,contact us page

[2021-06-27 11:03] #268 closed

[2021-06-27 11:04] tjanhvi commented on #269
Please assign me this issue.

[2021-06-27 11:09] QAZIMAAZARSHAD commented on #269
This site doesn't need a navbar like that.

Also, another issue to create a dashboard is already open.

[2021-06-27 11:09] #269 closed

[2021-06-27 13:45] princeprag opened #270 "FormCorrection Page not fetching list of Districts.."
## Describe the bug
The district dropdown in the formCorrection is Empty.
![Screenshot (105)](https://user-images.githubusercontent.com/51314718/123546219-51e66380-d779-11eb-95d8-afc8c3824213.png)

## To Reproduce
Steps to reproduce the behavior:
1. Method 1 - At first we should have a State field. On choosing the state the list of all districts should come
2. Method 2- We can use some API to auto

[2021-06-27 13:47] princeprag commented on #270
@QAZIMAAZARSHAD , please have a look and let me know if we can go with Method 2?

[2021-06-27 13:53] nlok5923 commented on #270
@princeprag i think you should keep app uniform so you can go with method 1 please confirm @QAZIMAAZARSHAD

[2021-06-27 13:56] princeprag commented on #270
@nlok5923 , yep! For maintaining uniformity.. Method 1 is better!

[2021-06-27 13:58] nlok5923 opened #271 "Footer link should redirect to actual sites"
## Describe the bug
- Currently the footer links under government of india section redirect to #

## To Reproduce
Steps to reproduce the behavior:
1. Head over to footer
2. Click on any link under goverment of india section

## Expected behavior

- It should redirect to actual sites

## Logs
this links i am talking about
![image](https://user-images.githubusercontent.com/56120084/123547288-ccb17d8

[2021-06-27 14:09] royalleads15 commented on #271
Sir @QAZIMAAZARSHAD I would like to do work on it

[2021-06-27 16:54] #266 closed

[2021-06-27 17:19] Saumya-Patel commented on #263
/assign

[2021-06-27 18:08] arnab8335 opened #273 "Improve Password Verification"
Currently, the password accepts only 6 characters,

Improve the constraints.
Minimum length - 8 characters
Must include at least one uppercase alphabet.
Must be alphanumeric.
Must include at least one special character.

Do this in Login, Sign-up, and Forget password page.

[2021-06-27 18:12] arnab8335 opened #274 "Respective legislative and parliamentary constituency should display automatically as soon as district is selected"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Additional context
Add any other context about the feature request here.

[2021-06-27 18:44] skpandey885 commented on #265
Thanks For Assigning! I Will Soon Make The Changes And Update You!

[2021-06-28 01:47] QAZIMAAZARSHAD commented on #273
Do it in all three pages - login, sign up and forgot password page.

[2021-06-28 01:59] #262 closed

[2021-06-28 02:24] #270 closed

[2021-06-28 09:54] Sourav61 commented on #6
@QAZIMAAZARSHAD sir is this fine for modal popup width??

![Capture11](https://user-images.githubusercontent.com/70853906/123617391-d215d300-d824-11eb-95d9-6072ba35d9c9.JPG)

[2021-06-28 09:57] QAZIMAAZARSHAD commented on #6
Ya better

[2021-06-28 09:59] Sourav61 commented on #6
But @QAZIMAAZARSHAD  sir do we need to remove scroll bar because a popup is just for information for an instance and i guess it would be fine without removing the scroll bar?

[2021-06-28 10:02] QAZIMAAZARSHAD commented on #6
ok

[2021-06-28 10:11] Sourav61 commented on #6
Sir pls check the below video and review it!!

https://user-images.githubusercontent.com/70853906/123619903-46517600-d827-11eb-997a-bcb598abec8e.mp4

[2021-06-28 10:14] QAZIMAAZARSHAD commented on #6
Fine make PR.

[2021-06-28 10:34] nlok5923 commented on #252
closing as #255  addressed it

[2021-06-28 10:34] nlok5923 commented on #252
closing this issue as #255 addressed it.

[2021-06-28 10:34] #252 closed

[2021-06-28 11:23] #6 closed

[2021-06-28 11:51] skpandey885 commented on #265
Hey! Can You Tell Me The Following Things-
1. What should Be The name of The logo I mean What Should Be Written On it? "Adhaar"? Or Something Related To Vote!!!
2. I have To Send The Logo Here? Because I Don't See Any Place In the website To fit In The logo!
@QAZIMAAZARSHAD  Help Me Sir!

[2021-06-28 12:15] skpandey885 opened #279 "Improve login/signup/forget password page design"
Feature: CSS Of Login and Registration Portal Can Be Modified!
Example:(New Colors, Hover Effects, Better Fonts Can Improve The Look Of The Website!)

[2021-06-28 13:04] QAZIMAAZARSHAD commented on #265
Name - Voters Registration Portal
You can also add any catchy desi slogan

And show the logo here first.

For PR, create a logo folder in the images folder and just add the logo file there.

[2021-06-28 13:46] nlok5923 commented on #265
@QAZIMAAZARSHAD i think we should only involve the initials of project name to the logo

[2021-06-28 14:26] QAZIMAAZARSHAD commented on #265
Okk, try both initials and full name, we'll accept the one which looks good.

[2021-06-28 14:40] skpandey885 commented on #265
@QAZIMAAZARSHAD Sir! How's This?

![image](https://user-images.githubusercontent.com/78532081/123655610-be7e6280-d84c-11eb-90a5-45c227ed44e6.png)

[2021-06-28 15:01] ayshi028 opened #281 "Improve header section"
## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. The logo of the "Satyamev Jayata" should be more left.
2. The header portion should be more attractive so that it looks good.
3.  All the icons should be placed at the right top corner so that it will be accessible from that position and one can go to that desired location.

[2021-06-28 15:05] tjanhvi opened #282 "Improve the show password method in login, sign-up, and forget password page"
Remove the show password checkbox and add icons in the input fields.
Do this on the login, sign-up, and forget password page.

![image](https://user-images.githubusercontent.com/56196640/126274591-1ab1e226-71f0-4379-8645-15b918e54142.png)

[2021-06-28 15:20] nlok5923 commented on #265
@skpandey885 it would be good if you can present 2-3 logos so that we can normalise parameters for best logo selection.

[2021-06-28 15:22] QAZIMAAZARSHAD commented on #265
Cool.

[2021-06-28 15:23] QAZIMAAZARSHAD commented on #265
@skpandey885 if you have any more ideas gon ahead.

[2021-06-28 15:23] skpandey885 commented on #265
@nlok5923 @QAZIMAAZARSHAD  So We Are Finalizing This One Or You Want To See More?

[2021-06-28 15:24] QAZIMAAZARSHAD commented on #265
@skpandey885 if you have any more ideas go ahead.

[2021-06-28 15:25] skpandey885 commented on #265
Ok! I will show You 2-3 More pieces Then Will Pick One And Go Ahead!

[2021-06-28 15:29] QAZIMAAZARSHAD commented on #282
@tjanhvi didn't get your idea?

Explain again, please.

[2021-06-28 15:29] QAZIMAAZARSHAD commented on #281
@ayshi028 what improvements you are suggesting?

[2021-06-28 16:25] tjanhvi commented on #282
In the form, there is a checkbox to show the entered password so i want to remove it and mention it in the input box as an icon that shows the entered password.

[2021-06-28 18:30] ayshi028 commented on #281
The Satyamev Jayate Icon will be more towards the left and the header portion will be more attractive and will build a div with toogle in order to create smooth scrolling through pages

[2021-06-28 23:56] QAZIMAAZARSHAD commented on #281
@ayshi028 this issue already open #223.

[2021-06-28 23:56] #281 closed

[2021-06-28 23:58] QAZIMAAZARSHAD commented on #223
@royalleads15 I suggest finishing basic and simple issues first.

[2021-06-29 00:08] #257 closed

[2021-06-29 00:25] QAZIMAAZARSHAD commented on #198
Already resolved.

[2021-06-29 00:25] #198 closed

[2021-06-29 00:28] QAZIMAAZARSHAD opened #286 "Validate user inputs in sign up page"

[2021-06-29 03:18] princeprag commented on #286
@QAZIMAAZARSHAD you can assign me!

[2021-06-29 09:05] royalleads15 commented on #223
Sure sir

[2021-06-29 14:46] engineerscodes opened #289 "declared 2 times in sign-up page"
## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. INSPECT ELEMENT ON SIGN-UP PAGE

# 'chk' has already been declared
![image](https://user-images.githubusercontent.com/68312849/123818342-89d6dd80-d916-11eb-8abc-046d30bc8863.png)

[2021-06-29 14:47] engineerscodes commented on #180
Created pr plz check #288

[2021-06-29 14:53] engineerscodes opened #290 "Reported similar issue with sign-up page"
'chk' has already been declared
![image](https://user-images.githubusercontent.com/68312849/123819764-a6bfe080-d917-11eb-935d-eea732e0ff19.png)

[2021-06-29 14:57] engineerscodes commented on #290
Fixed
![image](https://user-images.githubusercontent.com/68312849/123820438-382f5280-d918-11eb-82e0-9134eda231a6.png)

[2021-06-29 15:01] engineerscodes commented on #180
I had my exam's

[2021-06-29 15:12] #267 closed

[2021-06-29 16:15] #289 closed

[2021-06-29 16:15] #290 closed

[2021-06-29 16:15] #180 closed

[2021-06-30 00:55] Sakshi1007 commented on #145
Working on it.

[2021-06-30 07:58] #241 closed

[2021-06-30 08:09] Albert-Jokelin opened #292 "Beautify Code"
## Problem
I find it difficult to navigate through the code because many elements aren't indented properly. Most of the work can't be done without using Ctrl + F :(

## Proposed Solution
I'd like to add proper indentation and new lines to all the files to enhance the readability.

## Proposed tags
LGMSOC-2021

[2021-06-30 08:55] QAZIMAAZARSHAD commented on #292
Yes sure go ahead.

Organize the code properly, organize the files, make separate files for particular sections if necessary, and properly comment the code.

[2021-06-30 09:59] srisatya1197 opened #294 "Spacing in the footer"
## Describe the bug
A clear and concise description of what the bug is.
![Voter Login - Google Chrome 30-06-2021 15_17_30_LI (2)](https://user-images.githubusercontent.com/78905067/123941516-daeade00-d9b7-11eb-9c94-211b12c5a8b2.jpg)

The space between policies and government of india is more. I want to align them in same way.

[2021-06-30 10:10] srisatya1197 opened #295 "Label commenting bot"
## Is your feature request related to a problem? Please describe.
I would like it to generate different messages for following labels:-

lgmsoc21
level0
level1
level2
level3
under review
changes requested

[2021-06-30 10:57] #145 closed

[2021-06-30 11:02] QAZIMAAZARSHAD commented on #294
Then there will be more space in the right corner.

Try to add one more column, something between these two sections.

[2021-06-30 11:38] srisatya1197 commented on #294
Done !!

[2021-06-30 15:20] SilverGraph opened #297 "Adjusting the width of Banner text animation"
## Describe the bug
The banner text that appears on the loading screen goes all tha way to the width of the display

## To Reproduce
Steps to reproduce the behavior:
1. Click on the website link to open the website
2.
3.
4.

## Expected behavior
The width of the animation of the banner text should be equal to the width of the text

## Logs
If applicable, add logs to help explain your problem (e.g.

[2021-06-30 16:28] QAZIMAAZARSHAD opened #298 "In mobile view the opening video does not occupies entire screen"
![image](https://user-images.githubusercontent.com/56196640/123997548-24562000-d9ee-11eb-99d4-55616508b22d.png)

Also, a problem with the last image of the video.
![Screenshot (6)](https://user-images.githubusercontent.com/56196640/123998038-ab0afd00-d9ee-11eb-8480-7d2bee4514c9.png)

[2021-06-30 20:12] codingninja11 opened #299 "Add animated favicon"
I want to add an animated favicon @QAZIMAAZARSHAD .

[2021-06-30 22:25] Akshu-on-github opened #300 "Add a Demo/Guest Login"
## Is your feature request related to a problem?
There's no guest login/dummy credentials - if I wanted to take a look at the UI, I need to provide an email and password. If I provide a random/burn email, it may affect the project's database...

## Describe the solution you'd like
Create a separate login method that either bypasses the login criteria (or) logs in with dummy credentials.
(Example:

[2021-07-01 02:53] skpandey885 commented on #265
So, I Have Made These Logos! Click On The Links:

https://mail.google.com/mail/u/0?ui=2&ik=c74cea5476&attid=0.1&permmsgid=msg-a:r-3885467505317949018&th=17a5ff8dad14f274&view=att&disp=safe&realattid=17a5ff796faccd830e71

https://mail.google.com/mail/u/0?ui=2&ik=c74cea5476&attid=0.3&permmsgid=msg-a:r-3885467505317949018&th=17a5ff8dad14f274&view=att&disp=safe&realattid=17a5ff8c85fb2943dd93

https://

[2021-07-01 04:26] QAZIMAAZARSHAD commented on #300
@Akshu-on-github there is no backend in this project.

E-mail id will not be stored anywhere so no harm to the user's privacy or projects database(not exists).

But login as a guest is a nice idea, go ahead.

[2021-07-01 04:29] QAZIMAAZARSHAD commented on #265
Great work @skpandey885.

Now you can make PR.

Just create a logo folder in the Images folder and these 3 files in the logo folder.

[2021-07-01 04:30] QAZIMAAZARSHAD commented on #265
@nlok5923 and @skpandey885 one of these will be used on the website, which one you suggest?

[2021-07-01 04:53] nlok5923 commented on #265
the middle one looks good to me.

[2021-07-01 06:07] skpandey885 commented on #265
I Think the last One Is good!  The One With "Apka Hak Apki Taakat"

[2021-07-01 06:50] #265 closed

[2021-07-01 06:57] QAZIMAAZARSHAD opened #302 "Add website logo in the footer"
Add the logo inside the box

![Screenshot (7)](https://user-images.githubusercontent.com/56196640/124079841-48097c80-da67-11eb-9a17-5da0cdd0053a.png)

Use this logo -> Voters-Registration-Portal/Images/Logo/logo1.jpg

https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/blob/master/Images/Logo/logo1.jpg

[2021-07-01 07:02] GaurPeeyush commented on #302
I'd like to work on this issue.
Kindly assign

[2021-07-01 07:04] QAZIMAAZARSHAD opened #303 "Shift the dark/light mode toggle button at the bottom left of footer"
![Screenshot (8)](https://user-images.githubusercontent.com/56196640/124080856-76d42280-da68-11eb-803f-86cbaae604a9.png)

Also, try to change the design of the button.

Do the changes on all pages.

[2021-07-01 07:06] QAZIMAAZARSHAD opened #304 "Replace Tiranga image in header with the logo"
Use this logo -> Voters-Registration-Portal/Images/Logo/logo1.jpg

https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/blob/master/Images/Logo/logo1.jpg

[2021-07-01 09:07] royalleads15 commented on #303
I would Like to work on it Sir

[2021-07-01 09:09] #261 closed

[2021-07-01 09:12] Soham-Official opened #306 "Captcha code overflowing from the box"
## Describe the bug
In the registration portal's captcha section the captcha code is overflowing when a big font is coming as captcha.

## To Reproduce
Steps to reproduce the behavior:
1. Go to voter Registration portal.
2. Scroll down to captcha section.
3. Change the captcha by clicking the button below it.
4. Eventually it can be seen that many code is overflowing the box.

## Expected behavior

[2021-07-01 09:13] Soham-Official commented on #306
Please assign me to this issue under LGMSOC'21

[2021-07-01 09:15] QAZIMAAZARSHAD commented on #306
Check again.

Must be some issue with your window size (zoom in /zoom out).

There is no such issue.
![image](https://user-images.githubusercontent.com/56196640/124099199-e81cd100-da7a-11eb-887d-d202130b5945.png)

[2021-07-01 09:40] Soham-Official commented on #306
@QAZIMAAZARSHAD I think your window size is of shorter width , but if you open it with large screens(pc)..you can detect the error.
![image](https://user-images.githubusercontent.com/54814610/124102865-5a42e500-da7e-11eb-8fab-a9ebac8765fe.png)
as you can see ,zoom is at the default!
so please reconsider and check it using larger screen devices.

[2021-07-01 09:49] QAZIMAAZARSHAD commented on #306
Fine.

Fix the issue.

[2021-07-01 10:03] #271 closed

[2021-07-01 10:32] royalleads15 commented on #306
Check this problem in signup page too.

[2021-07-01 11:57] #306 closed

[2021-07-01 12:01] QAZIMAAZARSHAD commented on #157
@Esha-Sherring, @harshita9621, @Deep06-11 are you guys working on this?

[2021-07-01 14:31] abhishekkumar08 commented on #304
Can I work on this? @QAZIMAAZARSHAD

[2021-07-01 16:36] #297 closed

[2021-07-01 19:55] Esha-Sherring commented on #157
I am unable to find out an approach to the solution . As of now all I could think of was hard coding the list. Do you have any other approach in mind?

[2021-07-01 22:38] #304 closed

[2021-07-02 06:42] Sakshi1007 commented on #298
Assign this to me @QAZIMAAZARSHAD

[2021-07-02 08:03] codingninja11 opened #312 "Home.html has a bug."
## Describe the bug
Some code is visible on top of the page @QAZIMAAZARSHAD
![image](https://user-images.githubusercontent.com/64359203/124242001-ebc35d00-db39-11eb-96cd-62785faff7be.png)

[2021-07-02 08:05] QAZIMAAZARSHAD commented on #312
@codingninja11 check again.
![image](https://user-images.githubusercontent.com/56196640/124242383-507eb780-db3a-11eb-8fbe-8e66e93fae26.png)

[2021-07-02 08:35] codingninja11 commented on #312
Yes Its fine now.

[2021-07-02 08:35] #312 closed

[2021-07-02 09:21] #299 closed

[2021-07-02 09:38] RituCs commented on #46
I would like to work on this issue if no one is working.

[2021-07-02 17:40] padmajabhol commented on #279
Is this still open?

[2021-07-02 17:51] skpandey885 commented on #279
Hey! This Issue Is Open But Has Been Assigned to Me and I am Working on it! So Try to Find Some News Bugs Yourself and Work On Them! Thanks For Your Concern!

[2021-07-03 07:11] arnab8335 commented on #273
@QAZIMAAZARSHAD should I add only the password files or can you tell me what to add
I have worked on the issue and completed it.

[2021-07-03 07:21] arnab8335 commented on #273
![WhatsApp Image 2021-07-03 at 12 50 53 PM](https://user-images.githubusercontent.com/69088399/124346584-52f61580-dbfd-11eb-946a-c15e86e0a768.jpeg)

[2021-07-03 07:36] QAZIMAAZARSHAD commented on #273
Only work on password par.

Instead of a password of 6 characters, apply constraints like at least 1 upper case, special character, number.

[2021-07-03 07:46] arnab8335 commented on #273
@QAZIMAAZARSHAD I have done it

[2021-07-03 07:46] arnab8335 commented on #273
Could you please check

[2021-07-03 07:52] QAZIMAAZARSHAD commented on #273
provide a demo link.

[2021-07-03 09:21] QAZIMAAZARSHAD commented on #303
Also, increase the size of the logo in the header as on the help page.

[2021-07-03 09:44] menakinako opened #316 "Create a submission accepted page"
I would like to  add a thank you page after the successful submission of the form.
Here in this thank you page we can add the form_correction page link so that anyone who feels that he/she has entered wrong data can make changes even after form submission.

[2021-07-03 10:29] arnab8335 commented on #273
@QAZIMAAZARSHAD  https://arnab8335.github.io/password_check/ Please check it out and let me know

[2021-07-03 12:20] QAZIMAAZARSHAD commented on #316
@menakinako we cannot call it a thank you page because it is an application form.

Create a page that says form successfully submitted, your voter id will be generated within a few days. Create a page like that.

[2021-07-03 12:28] QAZIMAAZARSHAD commented on #273
@arnab8335 what should I do with this?

Implement this on the website then show. Everything should be the same on the website just change the message "Password length should be 6" and correct the password constraint on all three pages.

[2021-07-03 13:20] QAZIMAAZARSHAD opened #317 "Apply flip hover effect on logo image in header"
When hovering on the logo, it should flip and this image should appear https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/blob/master/Images/Logo/logo2.jpg.

Apply it on all the pages.

[2021-07-03 14:25] QAZIMAAZARSHAD opened #319 "Create a feedback page"
![Screenshot (12)](https://user-images.githubusercontent.com/56196640/124357321-7db18f80-dc38-11eb-870d-5f867fb66ffd.png)

Link it with all pages.

Refer to a few websites for ideas for the feedback page.

[2021-07-03 14:25] menakinako commented on #317
I would like to work on this issue.

[2021-07-03 14:48] skpandey885 commented on #319
Hey Bhaiya! I am Interested Can You Explain a bit more! I Can't Understand!

[2021-07-03 14:50] akshitaWaldia commented on #319
I would like to work on this issue

[2021-07-03 15:05] QAZIMAAZARSHAD commented on #319
@skpandey885 the feedback page can be like a form.

Asking questions like:
Any difficulty you faced?
How was the online experience?
Do you still prefer applying offline?
Any feature you request to be included on the website?
Which device did you use?
Any bug/typo or wrong information on the website?

[2021-07-03 15:07] QAZIMAAZARSHAD commented on #319
How to design, include what features, which questions are totally up to you, but header and footer must be the same.

[2021-07-03 15:09] #316 closed

[2021-07-03 15:15] skpandey885 commented on #319
Ok bhaiya! I will contact You if i face Any Issue Or Have any doubt!

[2021-07-03 15:18] QAZIMAAZARSHAD opened #320 "Fix the image in submitted.html also check the responsiveness of page"
![image](https://user-images.githubusercontent.com/56196640/124358820-b4d76f00-dc3f-11eb-9e07-acd0c7f48b79.png)

And replace this line "If you want to make any changes to the form before your voter id card is generated, then please click here." with "If you want to check the status of your application, then please click here."

[2021-07-03 15:23] skpandey885 commented on #319
Bhaiya The Form Should also be linked to backend? I don't know about backend /database

[2021-07-03 15:26] QAZIMAAZARSHAD commented on #319
The website doesn't have any backend right now.

Just create a frontend design like the rest of the website.

[2021-07-03 15:41] skpandey885 commented on #319
Ok Bhaiya! I'll do it!
Thanks

[2021-07-03 16:09] #317 closed

[2021-07-03 16:48] shreya-madhwal commented on #320
@QAZIMAAZARSHAD /assign

[2021-07-03 18:09] devanshi-code commented on #320
@QAZIMAAZARSHAD I would like to work on this issue

[2021-07-04 04:11] QAZIMAAZARSHAD commented on #320
@devanshi-code already assigned.

[2021-07-04 12:21] QAZIMAAZARSHAD commented on #279
Accepeted. Points awarded.

[2021-07-04 12:21] #279 closed

[2021-07-04 12:25] QAZIMAAZARSHAD opened #328 "Fix the header in home and help page"
![image](https://user-images.githubusercontent.com/56196640/124384884-faa04000-dcf0-11eb-9c68-e0d63b070cde.png)

[2021-07-04 13:24] skpandey885 commented on #279
Bhaiya, How can I see All points earned?
and Will My name be Added In Contributers List?

[2021-07-04 14:08] QAZIMAAZARSHAD commented on #279
Organizers are working on the leaderboard.
Also, it is advisable to always keep a count of all your PR's and levels so in case of any mistake by project admin and organizers you can correct it. If you have kept a track of all your PR's then you can calculate your score yourself.

Yes, your name has automatically been included in the contributor's list of that project if you have made any contribut

[2021-07-05 07:58] PrathmeshMutke opened #329 "Update drop down list in footer"
## Describe the bug
Prerequisite :
After clicking on the link of website,
Home page appears. After clicking on start the sign in page appears.

Issue :
In the contact us section,
Regional office -  title is given
It has drop down button for delhi regional office

But the issue is :
If it has single regional office then drop down button should be removed.

## To Reproduce
Steps to reproduce the beh

[2021-07-05 07:59] PrathmeshMutke commented on #329
LGM SOC 2021

[2021-07-05 08:09] QAZIMAAZARSHAD commented on #329
@PrathmeshMutke add more cities.

Mumbai, Kolkata, Lucknow, Hyderabad, Chennai, Bengaluru

[2021-07-05 08:10] QAZIMAAZARSHAD commented on #329
Do it in the footer of every page.

[2021-07-05 08:42] PrathmeshMutke opened #330 "Website Homepage black space"
## Describe the bug
In website's home page just in background of start button three images scroll horizontally one by one
Issue :
In between images Black black space with changing alignment should be removed

## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
If applicable, add logs to help exp

[2021-07-05 08:46] QAZIMAAZARSHAD commented on #330
@PrathmeshMutke this issue is already open https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/298.

you can try this one https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/328.

[2021-07-05 08:46] #330 closed

[2021-07-05 09:33] stellashank commented on #319
Sir can u assign me this issue

[2021-07-05 09:40] QAZIMAAZARSHAD commented on #319
This one is already assigned. You can work on this one https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues/328.

[2021-07-05 09:58] stellashank commented on #46
sir assign this to me

[2021-07-05 10:42] stellashank commented on #328
Working on it sir

[2021-07-05 12:22] stellashank commented on #328
![IMG_20210705_175123](https://user-images.githubusercontent.com/79393723/124470765-a9a84e80-ddb9-11eb-85fb-7b0371443508.jpg)
Sir I fixed the Header thing.
Need to know there to place the toggle button for modes and that select language thing

[2021-07-05 12:27] QAZIMAAZARSHAD commented on #328
Like this
![image](https://user-images.githubusercontent.com/56196640/124471425-77e3b780-ddba-11eb-8a3d-ff26663d3acc.png)

[2021-07-05 12:32] QAZIMAAZARSHAD commented on #328
Also, zoom and select language buttons are in only home page not on the help page.

[2021-07-05 12:41] stellashank commented on #328
![Uploading IMG_20210705_181055.jpg…]()
Done sir.
Can i now go for PR

[2021-07-05 12:44] QAZIMAAZARSHAD commented on #328
Sure.

Also, share screenshots of both pages and a live demo link so I can review your changes.

[2021-07-05 12:45] stellashank commented on #328
![IMG_20210705_181055](https://user-images.githubusercontent.com/79393723/124473387-e295f280-ddbc-11eb-9ce8-5ab6019e9b95.jpg)
Done sir
Can i now go for a PR

[2021-07-05 12:48] QAZIMAAZARSHAD commented on #328
Fine

[2021-07-05 13:11] stellashank commented on #328
![16254906757947441617362656537301](https://user-images.githubusercontent.com/79393723/124476569-9ba9fc00-ddc0-11eb-8fa9-8f477ee4a27e.jpg)
Headers of Help page as well as home page
Rectified.

[2021-07-05 13:15] stellashank commented on #328
sir guide me through if My PR was successful or not

[2021-07-05 13:24] QAZIMAAZARSHAD commented on #328
@stellashank u=you have not made PR yet.

[2021-07-05 13:24] QAZIMAAZARSHAD commented on #328
After making changes you have to click on the make pull request button.

[2021-07-05 13:33] stellashank commented on #328
Done sir. Do u confirm?!

[2021-07-05 13:40] srisatya1197 commented on #295
@QAZIMAAZARSHAD Just I want to clear that I'll be inactive on github for a week(sem exams). I want to tell that if it's ok then will complete this after a week.

[2021-07-05 13:40] srisatya1197 commented on #294
@QAZIMAAZARSHAD  Just I want to clear that I'll be inactive on github for a week(sem exams). I want to tell that if it's ok then will complete this after a week.

[2021-07-05 14:03] QAZIMAAZARSHAD commented on #295
fine

[2021-07-05 14:03] QAZIMAAZARSHAD commented on #294
fine

[2021-07-05 15:20] #328 closed

[2021-07-05 15:22] QAZIMAAZARSHAD opened #332 "Correct the flip logo feature and also increase logo size"
![image](https://user-images.githubusercontent.com/56196640/124492656-63131e00-ddd2-11eb-9fe1-ef98e0ae203a.png)

[2021-07-05 15:52] stellashank commented on #332
#332
Will resolve the issue in next commit sir.

[2021-07-05 21:38] stellashank commented on #30
Can this issue be assigned to me?!

[2021-07-06 10:44] stellashank commented on #30
@QAZIMAAZARSHAD sir there are two forms.
Which file's form this issue is meant for.
Can u tell me the specific file name.
Cause signup.html has similar validation issue

[2021-07-06 10:51] QAZIMAAZARSHAD commented on #30
![image](https://user-images.githubusercontent.com/56196640/124588236-31ec2980-de76-11eb-9223-c714ff43eb61.png)

Home.html

[2021-07-06 10:52] QAZIMAAZARSHAD commented on #30
And issue #286 for the sign-up page.

[2021-07-06 11:16] nlok5923 opened #335 "Remove `abc.css` file from several directories"
## Describe the bug
There's a redundant file named `abc.css` persist in certain folders under `.github` directory.

## To Reproduce
Steps to reproduce the behavior:
1.  head over to repo
2. visit inside `.github` repo

## Expected behavior
Folder structure should be proper with relevant files.

## Environment (please complete the following information):
 - OS: all
 - Browser: all

## Additional co

[2021-07-06 11:17] nlok5923 commented on #335
@QAZIMAAZARSHAD please confirm.

[2021-07-06 11:26] nlok5923 opened #336 "Chore fixes needed in registration form"
## Describe the bug
Currently registration form is quite uncertain in it's field UI design.

some uncertainities:
- text area should not be resizable (try `resize: none`).
- show password fields aren't aligned properly.
- Total registration component animation on hover

## To Reproduce
Steps to reproduce the behavior:
1.  Head over to registration page

## Expected behavior
registration page shoul

[2021-07-06 11:38] QAZIMAAZARSHAD commented on #335
Yaa, I added them to upload files.

No use of these files.

[2021-07-06 11:40] QAZIMAAZARSHAD commented on #336
Fine.

[2021-07-06 11:42] QAZIMAAZARSHAD commented on #336
@nlok5923 which image is in the description?

[2021-07-07 08:06] RiyaGupta89 commented on #336
Can I work on this issue?

[2021-07-07 08:06] RiyaGupta89 commented on #335
Can I work on this issue please?

[2021-07-07 10:26] nlok5923 opened #338 "Fix background image of submitted page"
## Describe the bug
Currently the background image of submitted page do not covers up the whole screen

## To Reproduce
Steps to reproduce the behavior:
1.  Headover [here](https://qazimaazarshad.github.io/Voters-Registration-Portal/submitted.html)
2.  See error

## Expected behavior
Background image should cover the whole screen

## Logs
![image](https://user-images.githubusercontent.com/56120084

[2021-07-07 10:33] nlok5923 opened #339 "Footer links under website policy section is not clickable."
## Describe the bug
links under the website policy section of the footer are not clickable

## To Reproduce
Steps to reproduce the behavior:
1.  head over to the website policy section inside the footer

## Expected behavior
Footer links should be clickable
Do it for the footer of all pages.
Replace help text with something else.

## Logs
![image](https://user-images.githubusercontent.com/56120084

[2021-07-07 11:02] QAZIMAAZARSHAD commented on #338
@nlok5923 this issue is already open.

[2021-07-07 11:02] #338 closed

[2021-07-07 11:07] #300 closed

[2021-07-07 11:13] asdsyd commented on #339
Please assign me to work on this.

[2021-07-07 11:20] Akshu-on-github commented on #300
Thank you for helping me contribute to this project!

[2021-07-08 09:52] nlok5923 opened #340 "Remove underline from social links inside footer."
## Describe the bug
Currently the social links in the footer section contains underline (if seen properly)

## To Reproduce
Steps to reproduce the behavior:
1.  Headover to social links section of footer

## Expected behavior
Social links button should not contain any underline.

## Logs
![image](https://user-images.githubusercontent.com/56120084/124902037-2fb5d680-e000-11eb-8e47-04bd0c0ca0d2.png)

[2021-07-08 11:29] Cartikx3 commented on #340
Assign this to me please.

[2021-07-08 13:41] stellashank commented on #46
Nav button is to be added in which file

[2021-07-08 14:56] QAZIMAAZARSHAD commented on #46
![image](https://user-images.githubusercontent.com/56196640/124943894-820bed00-e02a-11eb-9321-b59cca4a45a6.png)

Like this not nav buttons but navigation to sections of the application form.

Mandatory fields -> Upload documents -> Form submitted
like this.

[2021-07-08 20:20] arnab8335 commented on #273
![image](https://user-images.githubusercontent.com/69088399/124985415-032da900-e058-11eb-966c-8d1a446443b9.png)

[2021-07-08 20:20] arnab8335 commented on #273
@QAZIMAAZARSHAD  is it fine

[2021-07-09 01:54] ujju20 commented on #286
Is this issue solved by the assignee or can I work on this issue?

[2021-07-09 03:47] QAZIMAAZARSHAD commented on #273
No not like this.

Change the prompt
![image](https://user-images.githubusercontent.com/56196640/125020389-62aaa980-e096-11eb-9586-e7ba3de13e6c.png)

[2021-07-09 16:02] arnab8335 commented on #273
@QAZIMAAZARSHAD I am unable to do that I have implemented what I have thought about but its currently not feasible for me to do this

[2021-07-09 16:08] QAZIMAAZARSHAD commented on #273
@arnab8335 I didn't get you.

You have to only make few modifications in JavaScript code in the login, signup, and forget pass page.
You can take help from @nlok5923.

[2021-07-09 16:09] arnab8335 commented on #273
@nlok5923 please help me to fix the code

[2021-07-09 17:13] nlok5923 commented on #273
@arnab8335 please create a pr so that i can review and suggest the code changes.

[2021-07-10 05:08] nlok5923 opened #344 "Add re-enter password field in forget password page."
## Describe the bug
Currently the forget password page do not have field to confirm the new password.

## To Reproduce
Steps to reproduce the behavior:
1.  headover to forget password page

## Expected behavior
There should be a confirm password field so as to make sure password is correctly entered.

## Logs
![image](https://user-images.githubusercontent.com/56120084/125152558-d74f1800-e16a-11eb-

[2021-07-10 06:15] Garima-7 commented on #344
assign this to me please.

[2021-07-10 06:31] nlok5923 commented on #344
GFI @Garima-7 !!

[2021-07-10 08:14] Garima-7 commented on #344
Sir can you please confirm that if the person reenter the password which does not matches with initial password then I have to change the content of button from "login" -> "reset" ?

[2021-07-10 08:18] nlok5923 commented on #344
No just change the text of button. Whatever the condition is and show an alert popup if initial password don't match the password entered.

[2021-07-10 09:59] Garima-7 commented on #344
Ok Bhaiya got it.
Thanks.

[2021-07-10 17:52] asdsyd commented on #339
i have created a pull request please check. Thanks

[2021-07-11 04:33] Garima-7 commented on #344
Sorry for that.
 OK bhaiya I will resolve it.

[2021-07-11 05:32] #344 closed

[2021-07-11 07:18] purohitmansi commented on #340
Please assign this to me.

[2021-07-11 07:19] purohitmansi commented on #339
Please do assign this to me.

[2021-07-11 07:22] purohitmansi commented on #329
Please do assign this to me.

[2021-07-11 07:27] purohitmansi commented on #320
Please assign this to me.

[2021-07-11 07:28] purohitmansi commented on #302
Please assign this to me.

[2021-07-11 07:29] purohitmansi commented on #298
I want to work on this.
Please do assign this to me.

[2021-07-11 07:30] skpandey885 opened #350 "Size Issue Of Background Image In Submitted.html"
The Background Photo In The Submitted.html File Is Not Perfectly Oriented.
And The Red Colour Overlay Is Also Not Oriented Properly.
And Some Minor CSS Changes Required.
<br>
<img width="1440" alt="Screenshot 2021-07-11 at 12 57 24 PM" src="https://user-images.githubusercontent.com/78532081/125186341-8bbe6c00-e247-11eb-9b76-013c7a99e48e.png">

[2021-07-11 07:30] purohitmansi commented on #286
I want to solve this.
please do assign this to me.

[2021-07-11 07:35] QAZIMAAZARSHAD commented on #340
@Cartikx3 are you working on this issue? or should I assign other participants.

[2021-07-11 07:37] QAZIMAAZARSHAD commented on #339
This is already assigned.
Look for issues with Up for Grab label and issues which have remained unsolved for more than 10 days.

[2021-07-11 07:38] QAZIMAAZARSHAD commented on #329
Under DCP or LGMSoC?

[2021-07-11 07:39] #319 closed

[2021-07-11 07:43] purohitmansi commented on #329
Under DCP

[2021-07-11 07:45] QAZIMAAZARSHAD commented on #320
Already assigned.

[2021-07-11 07:47] purohitmansi commented on #302
Thank you for assigning.

[2021-07-11 07:47] QAZIMAAZARSHAD commented on #298
@purohitmansi first complete other assigned issues then I will assign you.

[2021-07-11 07:50] QAZIMAAZARSHAD commented on #350
This issue is already open. Before opening issues make sure that no other similar issue is open.

[2021-07-11 07:50] #350 closed

[2021-07-11 07:51] purohitmansi commented on #298
Thank you for assigning me these. Please give me 2 days to solve out these
issues. How many days are given to solve an issue?

On Sun, 11 Jul 2021 at 13:18, Qazi Maaz Arshad ***@***.***>
wrote:

[2021-07-11 07:54] shreya-madhwal commented on #320
@purohitmansi I can understand your interest but I'm already working on this issue! If I will have any problem I'll let the project admin know here.

[2021-07-11 07:54] skpandey885 commented on #350
Oh Okey Bhaiya! My Bad!

[2021-07-11 07:55] QAZIMAAZARSHAD commented on #286
Already assigned.

[2021-07-11 07:58] QAZIMAAZARSHAD commented on #298
Depends on the level of the issue.
Importance of issue.
The number of other contributors in line to solve that particular issue.

[2021-07-11 08:00] QAZIMAAZARSHAD commented on #320
@shreya-madhwal it has been 8 days since you were assigned. Finish it ASAP.

[2021-07-11 08:04] shreya-madhwal commented on #320
@QAZIMAAZARSHAD okk sir!

[2021-07-11 09:48] purohitmansi commented on #329
Please allow me to push changes as I am not able to push to master branch.

Thankyou

On Sun, 11 Jul 2021, 1:08 pm Qazi Maaz Arshad, ***@***.***>
wrote:

[2021-07-11 09:50] Cartikx3 commented on #340
Yes sir i am working on this. Please don't assign this to others.

[2021-07-11 09:51] QAZIMAAZARSHAD commented on #329
You have to push changes in your repo first then make PR to my repo.

[2021-07-11 11:16] #340 closed

[2021-07-11 12:18] purohitmansi commented on #329
Sir, I have made a PR to issue#329.
Kindly check that and merge the same.
Loved to contribute and Thankyou for giving me this opportunity.

Thankyou

On Sun, 11 Jul 2021, 3:21 pm Qazi Maaz Arshad, ***@***.***>
wrote:

[2021-07-11 12:21] Cartikx3 commented on #298
Assign this to me Please.

[2021-07-11 12:28] #329 closed

[2021-07-11 12:34] #339 closed

[2021-07-11 12:37] QAZIMAAZARSHAD commented on #298
Under DCP or LGMSoC?

[2021-07-11 12:38] Cartikx3 commented on #298
Under LGMSoC .

[2021-07-11 13:09] asdsyd opened #353 "Footer links appearance to be uniform"
In few pages, it is appearing like a blue underline.
In few pages, a blue underline is appearing only on hover.

What needs to be done↓

Without hover, it should be a simple text(white color)
On hover text color should change to blue color, no underline.

![Screenshot_20210711-183812618 (1).jpg](https://user-images.githubusercontent.com/77977076/125196355-46199780-e277-11eb-8db8-a613b6ca18d7.jpg)

[2021-07-11 13:13] QAZIMAAZARSHAD commented on #353
@asdsyd without hover it should be like that Feedback text.

[2021-07-11 13:15] asdsyd commented on #353
Hey I can't work anymore on the issue as I have my university exam this week and after.  Thanks.

[2021-07-11 13:50] manasb15 opened #354 "Update pull_request_template.md"
In pull_request_template.md
Change
Issue Number with
Fixes #(issue number) so that issue automatically get close on successful merge of PR

@QAZIMAAZARSHAD Please assign me this under DCP21

[2021-07-11 14:05] #354 closed

[2021-07-11 16:41] ujju20 commented on #286
Can you give a hint of solving this issue because input fields like email and mobile number are already validated?

[2021-07-11 18:25] mayank-wadhwa-git commented on #353
In footer, links under government of India are blue and the other links have a blue line under them.

What needs to be done?

![Feedback Form and 2 more pages - Personal - Microsoft​ Edge 11-07-2021 23_52_14](https://user-images.githubusercontent.com/68892762/125206169-5ba4b680-e2a3-11eb-9efc-2431898f0b01.png)

[2021-07-11 18:28] RandikaR21 commented on #353
Hi, I am new to open source contribution, shall I work on this issue?

[2021-07-12 04:05] QAZIMAAZARSHAD commented on #353
You have to work on only links on the left side.
Website Policy
Terms and conditions etc.

Remove the blue underline. Without hover, it should be simple white text.
On hover text colour should change to blue like the links on the right side.

[2021-07-12 04:07] QAZIMAAZARSHAD commented on #353
@RandikaR21 this issue has already been assigned others were ahead of you in line.
Look for some other issues. Which have up for grab label or issues which have not been solved for more than 10 days.

[2021-07-12 04:07] QAZIMAAZARSHAD commented on #353
@mayank-wadhwa-git you are under DCP or LGMSoC?

[2021-07-12 04:10] mayank-wadhwa-git commented on #353
DCP

[2021-07-12 04:14] QAZIMAAZARSHAD commented on #286
@ujju20 this form got submitted.
![image](https://user-images.githubusercontent.com/56196640/125229953-7869da00-e2f5-11eb-87c0-bba418a4023f.png)

See first name, last name, email, city are wrong still it is getting submitted.
You have to work on this.

[2021-07-12 04:26] Garima-7 opened #356 "Improve design of zoom-in/zoom-out buttons"
The A+ and A- categories UI is not similar.
Will make both the UI similar so that it looks amazing and have consistent behaviour.
Assign this issue to me.

[2021-07-12 04:32] QAZIMAAZARSHAD commented on #356
I don't understand the zoom-in/zoom-out buttons are similar.

Share a screenshot of what you mean.

Also since your issue concerns the zoom in/zoom out button then the title should be similar.

[2021-07-12 04:37] #356 closed

[2021-07-12 06:23] ujju20 commented on #286
Ok got it.

[2021-07-12 06:30] manasb15 opened #357 "Update pull_request_template.md"
This point in the checklist :

(I have added my name in the contributors list at the end of README.md file.)

is obsolete. So it is wise to remove it.

@QAZIMAAZARSHAD please assign this to me under DCP21

[2021-07-12 07:11] mayank-wadhwa-git commented on #353
check it once @QAZIMAAZARSHAD

Without Hover:
![Voter Registration Portal and 6 more pages - Personal - Microsoft​ Edge 12-07-2021 12_36_27](https://user-images.githubusercontent.com/68892762/125245312-0ce03680-e30e-11eb-877f-30819f96f99f.png)

With Hover:
![Voter Registration Portal and 6 more pages - Personal - Microsoft​ Edge 12-07-2021 12_36_39](https://user-images.githubusercontent.com/688927

[2021-07-12 08:08] #357 closed

[2021-07-12 08:09] QAZIMAAZARSHAD commented on #353
Fine.

Make sure footers in all pages are similar.

[2021-07-12 09:23] mayank-wadhwa-git commented on #353
ok

[2021-07-12 13:27] #353 closed

[2021-07-12 13:39] shreya-madhwal commented on #320
Sir @QAZIMAAZARSHAD  I've done with the task and created the PR hope now I'm done with my job. If any other changes will require then please let me know I'll sort it.

[2021-07-12 14:22] #320 closed

[2021-07-12 17:18] skpandey885 opened #361 "Font Change In The Starting Text"
**This Font does Not Looks That Good!**

<img width="1440" alt="Screenshot 2021-07-12 at 10 38 44 PM" src="https://user-images.githubusercontent.com/78532081/125329263-e8627980-e362-11eb-87fa-13acca86d0ed.png">

**This Can Be done Like This:**

<img width="1440" alt="Screenshot 2021-07-12 at 10 43 57 PM" src="https://user-images.githubusercontent.com/78532081/125329509-34adb980-e363-11eb-8b23-7d3a

[2021-07-12 17:28] QAZIMAAZARSHAD commented on #361
Under LGMSoC?

[2021-07-12 17:36] skpandey885 commented on #361
Yes bhaiya!

[2021-07-13 04:54] nik464 commented on #361
you can also assign me . I am from lgm soc.

[2021-07-13 04:57] QAZIMAAZARSHAD commented on #361
Already assigned.

[2021-07-13 04:58] nik464 commented on #303
I would also like to work on this issue. Please assign me . I am from lgm soc.

[2021-07-13 05:36] mayank-wadhwa-git commented on #335
Can I work on this issue please?

[2021-07-13 05:43] nlok5923 commented on #335
@mayank-wadhwa-git @RiyaGupta89 is already working on it so please find another issue.

[2021-07-13 05:43] QAZIMAAZARSHAD commented on #335
@nlok5923 it has been 6 days and this is a cakewalk issue so let's give the opportunity to others.

[2021-07-13 05:44] QAZIMAAZARSHAD commented on #335
Under DCP or LGMSoC?

[2021-07-13 05:45] mayank-wadhwa-git commented on #335
DCP

[2021-07-13 05:49] nlok5923 commented on #335
Agree

[2021-07-13 05:52] RiyaGupta89 commented on #335
Hey, i am sorry. I have worked on this issue earlier but i forgot to push my code. I am sorry.

[2021-07-13 05:57] QAZIMAAZARSHAD commented on #335
Your PR is not correct look into it.

[2021-07-13 05:59] QAZIMAAZARSHAD commented on #335
The first correct PR will be accepted.

[2021-07-13 06:16] #335 closed

[2021-07-13 06:42] #361 closed

[2021-07-13 06:44] QAZIMAAZARSHAD commented on #332
@stellashank any updates.

[2021-07-13 10:14] Croooook commented on #302
Can You please assign this to me? I can work on this. This will be my first issue for open source community to be allowed to work upon.

[2021-07-13 10:21] kanak22 commented on #302
@purohitmansi any updates till now?

[2021-07-13 10:33] purohitmansi commented on #302
No, I am not able to. U can go ahead with the issue.

On Tue, 13 Jul 2021, 3:51 pm Kanak, ***@***.***> wrote:

[2021-07-13 10:34] kanak22 commented on #302
okay then @Croooook go ahead :)

[2021-07-13 12:24] skpandey885 opened #368 "Validation Of Details In Feedback Form Is Not working!"
If I Keep All The Fields Empty and Do not enter Any Detail Then Also The Feedback Form is getting Submitted and Do Not Show Any Warning.
It Needs To Be Fixed.
<img width="1438" alt="Screenshot 2021-07-13 at 5 52 02 PM" src="https://user-images.githubusercontent.com/78532081/125450691-fcac8df1-541e-4ee8-84bb-bd18c1a16fe6.png">

<h3>TAGS</h3>
<h1> Bug , LGMSOC<h1>

[2021-07-14 03:41] #298 closed

[2021-07-14 03:44] #336 closed

[2021-07-14 04:42] #303 closed

[2021-07-14 05:09] QAZIMAAZARSHAD opened #371 "Correct all footers in mobile view"
Align this section properly
![image](https://user-images.githubusercontent.com/56196640/125564666-f7ae0c17-4b4a-4481-a070-b0259e7ce6a3.png)

Reduce this extra space on the help page
![image](https://user-images.githubusercontent.com/56196640/125564599-2a029988-1cb6-4928-95d2-f044c5e21b5e.png)

[2021-07-14 05:13] QAZIMAAZARSHAD opened #372 "Make help page responsive in mobile view and properly align in desktop view"
![Screenshot (52)](https://user-images.githubusercontent.com/56196640/125565076-efcb90c7-5909-46cc-9b6e-2e26e9a2093a.png)

[2021-07-14 07:38] sanketcharanpahadi commented on #371
can I work on this issue @QAZIMAAZARSHAD ?

[2021-07-14 07:47] QAZIMAAZARSHAD commented on #371
Under DCP or LGMSoC?

[2021-07-14 07:53] sanketcharanpahadi commented on #371
under LGMSoc.

[2021-07-14 10:15] mayank-wadhwa-git commented on #372
Could you please assign this issue to me?

[2021-07-14 10:52] QAZIMAAZARSHAD commented on #372
Under DCP?

[2021-07-14 10:53] mayank-wadhwa-git commented on #372
yes

[2021-07-15 06:16] rahulgupta416 commented on #371
i can fix this issue please assign this issue , under LGMSoc

[2021-07-15 06:58] mayank-wadhwa-git commented on #372
@QAZIMAAZARSHAD I aligned the page in desktop view but not able to recognize what is wrong in mobile view? Could you attach some screenshots

[2021-07-15 07:03] QAZIMAAZARSHAD commented on #372
Check the horizontal and vertical width.

[2021-07-15 07:17] QAZIMAAZARSHAD commented on #371
Already assigned.

Look for other issues.

[2021-07-15 07:34] QAZIMAAZARSHAD commented on #372
![image](https://user-images.githubusercontent.com/56196640/125747534-bb59788b-811b-4509-a0b2-fd4db71b6b60.png)

[2021-07-15 08:17] mayank-wadhwa-git commented on #372
ok

[2021-07-15 15:25] skpandey885 commented on #368
While I Was Fixing The Issue I thought Of Adding The (city, state, and zip code) Fields!
 @nlok5923  @QAZIMAAZARSHAD Bhaiya  Should I add These Fields... It Will Give a More Professional Feel To The Viewers. Shall I add It or Go with the previous One!
<img width="649" alt="Screenshot 2021-07-15 at 8 52 06 PM" src="https://user-images.githubusercontent.com/78532081/125813653-d5fcb1ea-da72-47c9-bbb3

[2021-07-15 15:44] QAZIMAAZARSHAD commented on #368
Sure go ahead.

[2021-07-15 15:55] #302 closed

[2021-07-15 16:02] QAZIMAAZARSHAD opened #373 "Shift the dark light toggle button in the footer in login page"

[2021-07-15 16:05] QAZIMAAZARSHAD opened #374 "Correct the copyright line in form-correction.html"
![Screenshot (61)](https://user-images.githubusercontent.com/56196640/125820212-a14b114a-c9bc-43c1-bfde-2c396672c9f2.png)

[2021-07-15 17:28] Garima-7 commented on #373
assign this to me.

[2021-07-15 18:41] Garima-7 commented on #373
![image](https://user-images.githubusercontent.com/83363645/125840305-fcdf7de2-4958-4f67-803a-a0930eaaa25e.png)
is it fine?

[2021-07-15 18:48] Garima-7 commented on #373
![image](https://user-images.githubusercontent.com/83363645/125841213-10aee9ca-0c4b-4102-a8f7-e10f585e0a56.png)
is it fine?

[2021-07-16 04:31] #373 closed

[2021-07-16 11:00] nlok5923 opened #377 "Improvisation in UI/UX of help page"
## Is your feature request related to a problem? Please describe.
Currently the help page UI is quite plain.

## Describe the solution you'd like
Contributors are welcome to come up with ideas to improve help page UI

## Additional context
none

[2021-07-16 12:45] skpandey885 commented on #377
we need to improve the UI Of the Help Page? Can You Explain a bit more!

[2021-07-16 12:57] nlok5923 commented on #377
Ya @skpandey885 it's kinda open ended issue where you need to propose your design for help page and after confirmation you can go on implementing it and raise a pr.

[2021-07-16 15:00] nlok5923 commented on #377
@QAZIMAAZARSHAD please do review this issue.

[2021-07-16 15:25] QAZIMAAZARSHAD commented on #377
@skpandey885 if you have any ideas to improve the design of the page then go ahead.

[2021-07-16 15:39] skpandey885 commented on #377
OK!

[2021-07-17 04:19] RiyaGupta89 commented on #374
May i work on this issue?

[2021-07-17 05:09] QAZIMAAZARSHAD commented on #374
Under DCP or LGMSoC?

[2021-07-17 05:09] RiyaGupta89 commented on #374
@QAZIMAAZARSHAD LGMSOC.

[2021-07-17 07:34] Garima-7 commented on #332
assign me this issue.

[2021-07-17 07:54] QAZIMAAZARSHAD commented on #332
DCP or LGMSoC?

[2021-07-17 08:43] Garima-7 commented on #332
LGMSOC

[2021-07-17 09:02] Garima-7 commented on #332
initial:-
![Screenshot (392)](https://user-images.githubusercontent.com/83363645/126031927-82fc6bfb-cd01-4129-9735-6e5020ba7185.png)
After hover:-
![image](https://user-images.githubusercontent.com/83363645/126032038-f5397b6f-cb80-406e-9b23-e53205765b61.png)

pls check if it's correct?

[2021-07-17 09:18] Garima-7 commented on #332
https://garima-7.github.io/Voters-Registration-Portal/

[2021-07-17 17:53] mayank-wadhwa-git commented on #372
I have properly aligned in desktop view but not able to identify how to make page responsive in mobile view.
Can I PR for desktop view?

[2021-07-17 17:55] aashimawadhwa commented on #239
If someone is not working. Can I work on this issue.

[2021-07-18 01:05] QAZIMAAZARSHAD commented on #372
No, resolve the issue completely then only make PR.

@kanak22 help @mayank-wadhwa-git.

[2021-07-18 01:07] QAZIMAAZARSHAD commented on #239
This issue is already assigned.

[2021-07-18 02:20] LeeSiangWei opened #380 "Improvement of UI/UX in the voter registration home page"
## Is your feature request related to a problem? Please describe.
I think the UI/UX of the voter registration page can be improved

## Describe the solution you'd like
I would like to use some trending design idea of modern website design to make the interface looks clean and nice-looking

## Additional context
The adjustment of the font size is not neccessary since it does not do much changes, th

[2021-07-18 02:31] QAZIMAAZARSHAD commented on #380
You can go ahead.

Show your design and ideas if It will be an improvement then I will accept it.

[2021-07-18 02:31] QAZIMAAZARSHAD commented on #380
Under DCP or LGMSoC?

[2021-07-18 02:44] LeeSiangWei commented on #380
nope for both

[2021-07-18 02:51] QAZIMAAZARSHAD commented on #380
Fine.

[2021-07-18 04:34] QAZIMAAZARSHAD opened #382 "Add mailto link in footer and correct hover effect on help button"
![image](https://user-images.githubusercontent.com/56196640/126055760-2d136bfd-cc6c-4879-a191-32a00b83ed39.png)

Add mailto link to the email.
Remove the underline when hovering on the help desk button.
Apply the same hovering on the email button as in the hep desk button.
Also, add a similar hover effect on the toll-free button.

Make sure all the three buttons call, email, and the help desk shou

[2021-07-18 04:44] QAZIMAAZARSHAD opened #383 "Address of regional office should display on selecting every state"
![image](https://user-images.githubusercontent.com/56196640/126055977-3e43db74-40a9-42e2-ac38-3772b55050af.png)

![Screenshot (71)](https://user-images.githubusercontent.com/56196640/126056024-be079b42-899a-4252-8230-e69ff7b42e3a.png)

Set default address of Delhi.
No need to add all the states, only existing states in the list are fine.
The address of every state should be different.

Sample addr

[2021-07-18 04:49] QAZIMAAZARSHAD opened #384 "Create a website policy page"
It should contain details regarding what this website is all about.

Header, footer must be the same.
Page must follow website theme.

[2021-07-18 04:50] QAZIMAAZARSHAD commented on #384
Link the page with the footers of every page.

[2021-07-18 08:00] Garima-7 commented on #332
https://garima-7.github.io/Voters-Registration-Portal/

[2021-07-18 08:01] Garima-7 commented on #332
pls check then will make a PR

[2021-07-18 08:18] QAZIMAAZARSHAD commented on #332
Everything is fine except the footer of the form correction page.

Also, correct the copyright line on the form correction page.
![image](https://user-images.githubusercontent.com/56196640/126060602-007a5c0d-a7c3-4247-8049-f739a6f0c1a2.png)

[2021-07-18 08:19] QAZIMAAZARSHAD commented on #250
@coding-geek21 any updates?

[2021-07-18 09:13] Garima-7 commented on #332
correction done

[2021-07-18 09:16] #332 closed

[2021-07-18 09:21] QAZIMAAZARSHAD commented on #374
@RiyaGupta89 this issue has already been resolved.

[2021-07-18 09:22] QAZIMAAZARSHAD commented on #374
![image](https://user-images.githubusercontent.com/56196640/126062154-dda9ae60-d969-4a37-bac4-1d66730b57a2.png)

Correct the copyright line in form-correction.html.

[2021-07-18 11:46] coding-geek21 commented on #250
Will make PR by tomorrow

[2021-07-18 11:49] QAZIMAAZARSHAD commented on #250
Fine

[2021-07-18 16:20] kanak22 commented on #372
Sure

[2021-07-18 17:15] IwonaBaran commented on #384
Can I work on this?

[2021-07-18 17:16] IwonaBaran commented on #382
Can I work on this?

[2021-07-18 20:39] gunjan-g opened #391 "Improving UI Design of feedback-form-submission page"
## Is your feature request related to a problem? Please describe.
The page doesn't look attractive and doesn't comply to the UI/UX design

## Describe the solution you'd like
Making the text more distributed and nicely presented

![image](https://user-images.githubusercontent.com/81305824/126081583-167562e3-95ad-4692-bdab-450557150a58.png)

[2021-07-18 20:40] gunjan-g commented on #391
Please assign me this issue under the label LGMSOC

[2021-07-19 04:49] RiyaGupta89 commented on #374
@QAZIMAAZARSHAD What needs to be corrected? Make the color of the copyright line darker so that it is more visible to users? This much or something else too?

[2021-07-19 04:53] QAZIMAAZARSHAD commented on #384
Under DCP or LGMSoC?

[2021-07-19 05:02] RiyaGupta89 commented on #383
You mean to replace current address which is "Bangla sahib road ......"
change this to "NVP Regional Office, Delhi
Ground Floor, Pragati Maidan Metro Station,
Pragati Maidan, New Delhi-110001
"

Is this what you want to be implemented?

[2021-07-19 05:03] RiyaGupta89 commented on #382
May I work under this issue please?

[2021-07-19 05:04] QAZIMAAZARSHAD commented on #382
@IwonaBaran and @RiyaGupta89

@nagbnc have already made PR for this.
I have assigned you other issues already, resolve those first.

[2021-07-19 05:19] #380 closed

[2021-07-19 05:29] QAZIMAAZARSHAD commented on #374
@RiyaGupta89 not correct.

Make it like other pages.

![image](https://user-images.githubusercontent.com/56196640/126107600-39124ca7-259a-4e8f-bb78-d66de5432ec7.png)

[2021-07-19 05:31] QAZIMAAZARSHAD commented on #383
No, don't touch that address.

You have to add a new address in the red box.
See, like in the first screenshot.

[2021-07-19 05:33] QAZIMAAZARSHAD commented on #383
Set default for Delhi.

But when the state changes, the address should also change.

[2021-07-19 06:16] #374 closed

[2021-07-19 06:25] QAZIMAAZARSHAD commented on #371
@sanketcharanpahadi done?

[2021-07-19 06:46] sanketcharanpahadi commented on #371
@QAZIMAAZARSHAD  sorry due to semester exams I am not able to this , Please assign this issue to other person.

[2021-07-19 07:04] developer-diganta opened #397 "Dark Mode / Theme is not persistent among pages."
## Describe the bug
Dark mode / Theme is not consistent among pages. If we select dark mode on login page and go back to help page (or any other page) or even refresh the page, it loads the light theme by default.

## To Reproduce
Steps to reproduce the behavior:
1. Toggle Dark Mode in any page.
2. Refresh the page / go to any other page
3. Dark is not selected by default

## Expected behavior
The

[2021-07-19 07:20] gunjan-g commented on #391
@QAZIMAAZARSHAD I've to remove the hover effect from both the laptop and mobile view or just from the mobile view

[2021-07-19 07:28] developer-diganta commented on #397
@QAZIMAAZARSHAD can I work on this?

[2021-07-19 07:45] QAZIMAAZARSHAD commented on #371
@rahulgupta416 you can start working on it.

[2021-07-19 08:01] QAZIMAAZARSHAD commented on #397
Under DCP or LGMSoC?

[2021-07-19 08:42] #391 closed

[2021-07-19 09:09] nlok5923 opened #399 "Add test deployment link in `pull_request_template.md`"
## Is your feature request related to a problem? Please describe.
It has been observed many time that contributor make changes but do not provide deployment link for testing

## Describe the solution you'd like
Add this heading in `pull_request_template.md` inside `.github` folder

`Deploy your changes to github page or netlify and mention deployment link:`

## Additional context
none

[2021-07-19 09:22] developer-diganta commented on #397
I am actually not participating in either of the programs. Can I contribute still?

[2021-07-19 10:23] QAZIMAAZARSHAD commented on #397
Sure.

Go ahead.

[2021-07-19 10:53] developer-diganta commented on #397
Thank You.. Working on it!

[2021-07-19 12:06] #397 closed

[2021-07-19 14:43] anushruti11 commented on #399
Can I add this under LGMSOC?

[2021-07-20 03:54] #399 closed

[2021-07-20 03:58] #383 closed

[2021-07-20 06:37] #203 closed

[2021-07-20 06:39] #65 closed

[2021-07-20 06:53] #223 closed

[2021-07-20 06:55] QAZIMAAZARSHAD commented on #292
Since the header and footer are the same on every page.

Make separate CSS files for the header and footer as well.

[2021-07-20 07:01] QAZIMAAZARSHAD commented on #295
@srisatya1197 any updates?

[2021-07-20 07:01] #294 closed

[2021-07-20 07:07] QAZIMAAZARSHAD opened #403 "Shift the dark/light toggle button in footer in mobile view"

[2021-07-20 07:08] QAZIMAAZARSHAD opened #404 "Compress the size of footer in mobile view"

[2021-07-20 07:10] #239 closed

[2021-07-20 08:16] anushruti11 commented on #403
I would like to work on it under LGMSOC.

[2021-07-20 08:16] anushruti11 commented on #404
I would like to work on it under LGMSOC.

[2021-07-20 08:19] QAZIMAAZARSHAD commented on #403
Under DCP or LGMSoC?

[2021-07-20 08:20] QAZIMAAZARSHAD commented on #404
Assigned you another issue.

Resolve that one first then I will assign you.

[2021-07-20 08:21] anushruti11 commented on #403
LGMSoC

[2021-07-20 08:46] nik464 commented on #404
I have completed the issues assigned. Sir, can you please assign this issue to me under lgm soc 21.

[2021-07-20 16:34] skpandey885 commented on #377
Hey! In The Reach Us Section Should I change the Address /phone no. to some real random phone number and address or should I keep the same!

[2021-07-20 16:35] skpandey885 commented on #377
<img width="509" alt="Screenshot 2021-07-20 at 10 05 28 PM" src="https://user-images.githubusercontent.com/78532081/126362005-c297f72b-0dee-4848-a240-9fe3ba1a9cdb.png">

[2021-07-20 16:37] QAZIMAAZARSHAD commented on #377
Sure.

[2021-07-20 18:32] IwonaBaran commented on #384
Sorry for the late reply. I'm not that experienced with GitHub yet. What's the difference between DCP and LGMoC? I read labels descriptions but it's still not very clear to me.

[2021-07-21 01:45] QAZIMAAZARSHAD commented on #384
DCP and LGMSoC are 2 open-source contribution events and this project is a part of these programs.
So if you are a participant in any of these then tell.
Else no worries.

You can also participate in LGMSoC the registrations are still open. Click logo in readme file.

[2021-07-21 14:28] Garima-7 commented on #157
I would like to work on this issue.

[2021-07-21 14:57] yuhang0627 commented on #282
Hi, can you assign this to me? I have an idea to improve the show password button with a eye logo attached at below when user click the eye button then the password become visible and I can add a password strength at the user sign up and forget password page.
![hidden](https://user-images.githubusercontent.com/86589370/126510250-ff455438-c2de-4276-9707-8a39f0ec3734.png)

[2021-07-21 15:03] QAZIMAAZARSHAD commented on #282
Under DCP or LGMSoC?

[2021-07-21 15:09] Garima-7 commented on #157
It's already functional, pls check.
So do you want to change the functionality?

[2021-07-21 15:12] QAZIMAAZARSHAD commented on #157
Understand the issue "Replace foreign languages with Indian and regional languages"

This website is for Indians so no use in changing the language to French, Spanish, Arabic, etc.
You have to replace all these foreign languages with Indian languages like Gujarati, Marathi, Bengali, Punjabi, Tamil, etc.

[2021-07-21 15:24] yuhang0627 commented on #282
Nope for both

[2021-07-21 15:25] Garima-7 commented on #157
ohk got it.
will try to work on it.

[2021-07-21 15:26] QAZIMAAZARSHAD commented on #282
Fine.

[2021-07-21 16:12] Kaizh3 opened #407 "Add Captcha in Login, Sign-up and forgetPass"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
Create a CAPTCHA Validation Form Using HTML, CSS, and JavaScript

## Additional context
Add any other context about the feature request here.

[2021-07-21 17:20] QAZIMAAZARSHAD commented on #407
@Kaizh3 sign-up page already has captcha and adding it in login and forget password page will slow down the login process.
It is not necessary.

You can work on other open issues https://github.com/QAZIMAAZARSHAD/Voters-Registration-Portal/issues?q=is%3Aopen+is%3Aissue+label%3A%22%F0%9F%A4%A9+Up+for+Grab%22.

[2021-07-21 17:20] #407 closed

[2021-07-22 05:14] Kaizh3 opened #408 "Add Responsive Text in voter registration Help page"
## Is your feature request related to a problem? Please describe.
The text of the help page is not responsive, the mobile view of help page is weird

## Describe the solution you'd like
I would like to change the css of help page become responsive text.

![Screenshot_88](https://user-images.githubusercontent.com/86589525/126592700-984e86f4-0092-40c5-a051-0d515ce7c44c.png)

[2021-07-22 05:51] QAZIMAAZARSHAD commented on #408
Under DCP or LGMSoC?

[2021-07-22 05:52] Kaizh3 commented on #408
Nope for both

[2021-07-22 06:32] RiyaGupta89 opened #410 "Padding bottom"
Can I add some space between the greenish container and the two buttons?

![padding](https://user-images.githubusercontent.com/72425181/126598262-07a9bbf0-1f55-4a49-8607-709b84fd9146.png)

[2021-07-22 06:35] QAZIMAAZARSHAD commented on #410
Fine.

A little bit.

[2021-07-22 07:51] #408 closed

[2021-07-22 07:55] QAZIMAAZARSHAD commented on #372
@mayank-wadhwa-git any updates?

[2021-07-22 07:57] QAZIMAAZARSHAD commented on #250
@coding-geek21 stuck somewhere?

It has been 27 days since you were assigned.

[2021-07-22 08:10] mayank-wadhwa-git commented on #372
No. I asked @kanak22 too but she is also not able to find what is wrong in code for mobile view. I tried everything like removed the scroll to top button commented the logo too but got nothing.
I have properly aligned the page in desktop view

[2021-07-22 08:21] kanak22 commented on #372
I also did all these ... Still figuring out if anything else works

[2021-07-22 08:23] QAZIMAAZARSHAD commented on #372
@nlok5923 look into this.

[2021-07-22 08:25] coding-geek21 commented on #250
Sorry I'm busy with college works. please assign it to someone

[2021-07-22 08:48] nlok5923 commented on #372
Sure i can give you the hint for resolving this issue just try to manipulate the styling of `scroll-bar div` inside the body tag as you can see in the below screen shot the issue persist when all the styling of `scroll-bar div` is applied
![image](https://user-images.githubusercontent.com/56120084/126612509-71a650b3-935a-4076-a9df-6452f6a3efed.png)

But when i removed the `overflow-y` property it

[2021-07-22 08:52] mayank-wadhwa-git commented on #372
This is have done. the problem is in mobile view when we slide, extra white space appears about which I have no idea how to resolve that

[2021-07-22 16:18] anushruti11 commented on #403
@nlok5923 Please take a look at the pull  request #406  and guide me what else can be implemented here for the desired output.Should I add anything else in bootstrap grid method or media queries or something else.

[2021-07-22 17:12] nlok5923 commented on #403
@anushruti11 just reopen the pr with your current changes so that we can take this discussion there also once the pr is open do provide me the test deployment link so that i can test the live changes.

[2021-07-22 17:21] anushruti11 commented on #403
@nlok5923 The test deployment link is in the pr description and it is closed by the project admin.

[2021-07-22 17:28] nlok5923 commented on #372
@mayank-wadhwa-git i had investigated it a bit and found that this changes are due to some of the previous merges so while having a walkthrough at some of old commits i reached the stable css for help page [here](https://gist.github.com/nlok5923/e3e6267e4b4503f76446016b8257d8d8) you can use it to spot the difference between current help page ss and previous stable css to fix this issue.

[2021-07-22 17:29] nlok5923 commented on #403
Fine you can open a new pr and there i will guide you out.

[2021-07-23 04:50] #410 closed

[2021-07-23 04:55] QAZIMAAZARSHAD commented on #30
@royalleads15, @stellashank, and @V-Yeshwanth any updates?

[2021-07-23 04:57] QAZIMAAZARSHAD commented on #46
@aditya687, @RituCs, @sameer2403, and @stellashank any updates?

[2021-07-23 05:05] QAZIMAAZARSHAD commented on #197
@jatinjain001, @tanzzz-tech, and @sameer2403 any updates?

[2021-07-23 05:09] QAZIMAAZARSHAD commented on #286
@princeprag and @ujju20  any updates?

[2021-07-23 05:17] QAZIMAAZARSHAD opened #416 "Add OTP verification functionality in sign-up and forget password page"
After entering all the details users must have to enter the OTP received in their email.

[2021-07-23 06:27] mayank-wadhwa-git commented on #372
ok sir. I will check

[2021-07-23 06:44] mayank-wadhwa-git commented on #372
The css code you provided @nlok5923 creates a horizontal scroll bar on the webpage. I implemented full code on the help page.
![Help Desk and 2 more pages - Personal - Microsoft​ Edge 23-07-2021 12_13_29](https://user-images.githubusercontent.com/68892762/126746229-99849914-cb10-4d05-b0c5-66bf517de360.png)

[2021-07-23 07:10] QAZIMAAZARSHAD commented on #372
Have to remove the horizontal width.

And the help page has been updated check, compare it with the actual website.

[2021-07-23 07:35] mayank-wadhwa-git commented on #372
Horizontal width appears in only mobile view and that's the problem I am not able to resolve. I downloaded the code again but still same problem persists

[2021-07-23 09:02] nlok5923 commented on #372
@mayank-wadhwa-git as [this] point the help page is working fine. try to take help from it.

[2021-07-23 09:53] mayank-wadhwa-git commented on #372
ok

[2021-07-23 11:17] #282 closed

[2021-07-23 12:57] harshithatnbr commented on #416
I would like to work on this issue. Please assign it to me.

[2021-07-23 12:57] harshithatnbr commented on #416
Dcp2021

[2021-07-23 17:23] puneetkaur2929 commented on #286
Hey @QAZIMAAZARSHAD
I am interested to work on this issue under LGM SOC 21

[2021-07-23 17:49] dilroseR commented on #197
Can i try this?

[2021-07-23 17:55] QAZIMAAZARSHAD commented on #197
DCP or LGMSoC?

[2021-07-23 17:56] dilroseR commented on #197
dcp

[2021-07-23 17:56] dilroseR commented on #197
i need to do only these changes right?

[2021-07-23 18:01] QAZIMAAZARSHAD commented on #197
On clicking the logout button user should be redirected to the login page,

Create logout button on home.html and formcorrection.html.

[2021-07-23 19:54] dilroseR commented on #17
Can i try this?

[2021-07-23 20:06] dilroseR commented on #30
Can i try this?

[2021-07-24 03:59] #197 closed

[2021-07-24 04:06] QAZIMAAZARSHAD commented on #30
Correct every single field in home.html.

The form should be submitted only after every mandatory field has been filled.

For every wrong input, a specific sweet alert should pop up.

[2021-07-24 05:44] dilroseR commented on #30
Ok, i'll try!

[2021-07-24 11:22] dilroseR commented on #273
Can i get this one to work upon?

[2021-07-24 11:42] nlok5923 commented on #273
GFI 👍 @dilroseR

[2021-07-24 12:13] dilroseR commented on #273
on which page should i implement this? and what all?

[2021-07-24 12:15] QAZIMAAZARSHAD commented on #273
Currently, the password accepts only 6 characters,

Improve the constraints.
Minimum length - 8 characters
Must include at least one uppercase alphabet.
Must be alphanumeric.
Must include at least one special character.

Do this in Login, Sign-up, and Forget password page.

[2021-07-24 12:16] QAZIMAAZARSHAD commented on #273
Take one issue at a time.

Resolve the other one first.

[2021-07-24 12:33] dilroseR commented on #273
ok no issues i'll finish that then i'll move on to this issue

[2021-07-24 17:18] puneetkaur2929 commented on #286
@QAZIMAAZARSHAD
I am working on this issue but when after filling all details it is not getting sign-up. Can you suggest me ways to correctly use it?

[2021-07-24 17:24] QAZIMAAZARSHAD commented on #286
Can't tell without seeing the code.
I suggest, make a PR then we will discuss.

[2021-07-24 19:46] aditya687 commented on #384
Can I work on this issue @QAZIMAAZARSHAD ? I can design a website policy with proper rules and regualtions

[2021-07-24 19:48] aditya687 commented on #46
Sir, please assign me this issue again yesterday only our exams are over . I will surely work on this issue @QAZIMAAZARSHAD

[2021-07-24 19:50] aditya687 commented on #372
I want to make the page responsive in both mobile view and desktop view, please assign me this issue @QAZIMAAZARSHAD

[2021-07-24 19:51] aditya687 commented on #382
I want to work on this issue @QAZIMAAZARSHAD . I will give a mailto in the footer and improve the hover effect on help button.

[2021-07-24 20:33] anushruti11 commented on #403
@QAZIMAAZARSHAD Is this ok?
![image](https://user-images.githubusercontent.com/65386044/126880463-4c17ba08-d568-40a5-8265-c1f68714bdd1.png)

[2021-07-25 02:40] nlok5923 commented on #403
please align the toggle button in center in mobile view also increase the size of icons.

[2021-07-25 05:00] QAZIMAAZARSHAD commented on #384
Solve other issues first.

[2021-07-25 05:01] QAZIMAAZARSHAD commented on #46
I have assigned two other issues, resolve them first then I will assign you.

[2021-07-25 05:02] QAZIMAAZARSHAD commented on #372
Solve other issues first.

[2021-07-25 05:02] QAZIMAAZARSHAD commented on #382
Solve other issues first.

[2021-07-25 05:10] QAZIMAAZARSHAD commented on #403
I suggest shift the button here
![image](https://user-images.githubusercontent.com/56196640/126888447-f2e3086d-0a0f-4118-8984-1e97a981cb52.png)

[2021-07-25 06:12] anushruti11 commented on #403
@QAZIMAAZARSHAD Only for mobile view ?

[2021-07-25 06:15] QAZIMAAZARSHAD commented on #403
Yes only for mobile view.

[2021-07-25 06:41] anushruti11 commented on #403
@QAZIMAAZARSHAD Is this ok now?

![image](https://user-images.githubusercontent.com/65386044/126890191-60615c3f-9cd8-4d70-bed7-39af7356a5ab.png)

[2021-07-25 06:43] QAZIMAAZARSHAD commented on #403
Yaa fine do it on every single page.

[2021-07-25 07:03] QAZIMAAZARSHAD commented on #371
@rahulgupta416 any updates?

[2021-07-25 07:05] QAZIMAAZARSHAD opened #421 "Make the UI of form-correction page similar to that of home.html"

[2021-07-25 07:12] rahulgupta416 commented on #371
My lab. Exam is going , please assign this task to anyone

[2021-07-25 07:13] QAZIMAAZARSHAD commented on #404
@nik464 any updates?

[2021-07-25 07:14] QAZIMAAZARSHAD commented on #292
@Albert-Jokelin any updates?

[2021-07-25 12:43] #403 closed

[2021-07-25 12:47] QAZIMAAZARSHAD opened #423 "Check the responsiveness of login page in mobile view"

[2021-07-25 12:48] QAZIMAAZARSHAD opened #424 "Remove scrolling effect on dark/light toggle"

[2021-07-25 14:05] dilroseR commented on #30
@QAZIMAAZARSHAD i made alerts for specific input but i'm facing some issue. i need help
Actually when i'm trying to execute the whole thing specific alerts are not playing. idk why.
so is there someone who can help me?

[2021-07-25 14:09] QAZIMAAZARSHAD commented on #30
Push your changes in PR.

you can take help from @nlok5923 and @kanak22.

[2021-07-25 15:35] dilroseR commented on #30
ok thankyou

[2021-07-25 15:42] dilroseR commented on #273
what should be the max length of the password?

[2021-07-25 15:45] QAZIMAAZARSHAD commented on #273
16

[2021-07-25 15:46] dilroseR commented on #273
can i make a pr for this till mentors reply back me on the other issue?

[2021-07-25 16:06] QAZIMAAZARSHAD commented on #273
Sure. Do it as you wish.

[2021-07-26 05:57] mayank-wadhwa-git commented on #372
Still I am not able to resolve the issue.

[2021-07-26 06:15] #273 closed

[2021-07-26 06:24] QAZIMAAZARSHAD commented on #372
Fine make PR by correcting only desktop view.

[2021-07-26 06:45] mayank-wadhwa-git commented on #372
done

[2021-07-26 07:23] Garima-7 commented on #421
assign me this issue.

[2021-07-26 07:23] Garima-7 commented on #421
under LGMSOC21

[2021-07-26 18:07] Siddharth1006 commented on #371
@ QAZIMAAZARSHAD can i work on this issue unde LGMsoc?

[2021-07-26 23:27] MukulKolpe commented on #423
@QAZIMAAZARSHAD can I work on this issue under LGM-SOC??

[2021-07-27 04:34] puneetkaur2929 commented on #286
Hey @QAZIMAAZARSHAD
I am trying to push changes on github but this message id being displayed .
how to correct it?
![Screenshot (66)](https://user-images.githubusercontent.com/80326308/127095866-79782a96-7f44-4333-a059-ef7dc1c88020.png)

[2021-07-27 04:38] #421 closed

[2021-07-27 04:40] QAZIMAAZARSHAD commented on #286
@puneetkaur2929 I think you were trying to push changes in my repo. You can't do that.

Push changes in your repo then make PR to my repo.

[2021-07-27 04:47] puneetkaur2929 commented on #424
Hey @QAZIMAAZARSHAD
where is this toggle ?
I can't find it on website.

[2021-07-27 04:49] QAZIMAAZARSHAD commented on #424
In the footer

[2021-07-27 07:34] Siddharth1006 commented on #292
Can I work on this issue under LGMSoC? @QAZIMAAZARSHAD

[2021-07-27 07:36] QAZIMAAZARSHAD commented on #292
Check the task description.
Get started.

[2021-07-28 04:26] #382 closed

[2021-07-28 04:51] QAZIMAAZARSHAD opened #428 "Adjust the overlapping of dark/night toggle button in mobile view"
Shift the button slightly upwards so it does not overlap with the toll-free number button.

Do this on every page.

[2021-07-28 04:56] QAZIMAAZARSHAD commented on #377
@skpandey885 any updates?

[2021-07-28 05:00] QAZIMAAZARSHAD opened #429 "Change color of buttons in home and form-correction page"
![Screenshot (132)](https://user-images.githubusercontent.com/56196640/127266341-2a696406-19a5-4c13-899b-35e3be7dcd17.png)

[2021-07-28 05:08] skpandey885 commented on #377
Im on it bhaiya! Actually my final exams are going on so i am a bit busy with it!

[2021-07-28 22:24] aashimawadhwa commented on #429
can you assign this issue to me ?

[2021-07-28 22:26] aashimawadhwa opened #430 "Scrollbar is visible on the preloader"
There is scrollbar visible on the preloader screen ideally it is not required over there .
![Screenshot from 2021-07-29 03-53-25](https://user-images.githubusercontent.com/73706697/127404179-27bea381-4a92-4b4f-bba6-62d1626d2e7e.png)

[2021-07-29 04:21] QAZIMAAZARSHAD commented on #430
DCP or LGMSoC?

[2021-07-29 04:23] QAZIMAAZARSHAD commented on #429
The pic in the description is the desired output.

[2021-07-29 05:04] puneetkaur2929 commented on #286
@QAZIMAAZARSHAD
I am trying to push in new branch , but the same issue still persists.

[2021-07-29 05:14] QAZIMAAZARSHAD commented on #286
Share screenshot.

Search error message on google you will get the solution.

[2021-07-29 10:53] Siddharth1006 commented on #292
UPDATE: I have separate and ordered all the code for CSS and js. I need to change the path being used in script tag. Have some more errors.. I will try to submit as soon as possible. Busy with cllg stuff at the moment..

[2021-07-29 11:00] QAZIMAAZARSHAD commented on #292
Fine try to resolve it as soon as possible.

[2021-07-30 00:08] #429 closed

[2021-08-01 03:52] QAZIMAAZARSHAD opened #432 "Create a "Check Application Status" page"
Page must follow the theme and style of the website.
The header and footer must be the same.

[2021-08-01 08:34] LimJinEn opened #433 "Language Selection on Registration Form"
I found out that i cant select any language when im in the registration form page. There wasnt any kind of input selection on that section of the page when i start the code on chrome using visual studio code.
![home](https://user-images.githubusercontent.com/87891480/127764733-2e6afb40-d622-44cd-8b8e-72b6292b95e7.PNG)

[2021-08-01 08:39] QAZIMAAZARSHAD commented on #433
![image](https://user-images.githubusercontent.com/56196640/127764827-2a6f090e-89e5-4f26-ba16-ecb1110eca5e.png)

@LimJinEn I did not find this issue on the website.

Maybe somethings wrong when we open it on the local host.

Try to fix it if you can.

[2021-08-01 08:44] LimJinEn commented on #433
when i hover near it , the mouse icon change, showing it that it can be click, but nothing appear when i click it.
I dont know how to fix it

[2021-08-01 08:46] QAZIMAAZARSHAD commented on #433
Fine thanks for notifying I will look into this.

If you want to work on this project you can take any Up-For-Grab issues.

[2021-08-01 08:46] #433 closed

[2021-08-02 14:04] aditya687 commented on #371
Can I work on this issue @QAZIMAAZARSHAD ?

[2021-08-02 14:05] harshithatnbr commented on #416
I will update by tomorrow

[2021-08-02 14:05] aditya687 commented on #46
Can I start working on this issue @QAZIMAAZARSHAD ?

[2021-08-02 14:13] QAZIMAAZARSHAD commented on #46
Resolve other issues first.

[2021-08-02 15:00] skpandey885 commented on #377
@nlok5923 @QAZIMAAZARSHAD  Bhaiya I've Been Tested Positive (Covid) Today! So I won't be able to work on these issues! Sorry For The Inconvenience Caused!

[2021-08-02 15:08] nlok5923 commented on #377
@skpandey885 no problem just take care .

[2021-08-02 15:24] QAZIMAAZARSHAD commented on #377
Get well soon

[2021-08-04 13:57] QAZIMAAZARSHAD commented on #384
@IwonaBaran any updates?

[2021-08-04 13:59] #372 closed

[2021-08-04 14:01] QAZIMAAZARSHAD commented on #371
@Siddharth1006 any updates?

[2021-08-04 15:21] nik464 commented on #404
tried everything bro. The grid template is not changing even after minmax function and changing fit size property.  Also currently my university work is going on till end of august. You can assign it to someone else. Thank you!

[2021-08-04 16:02] aasthasaxena217 commented on #428
@QAZIMAAZARSHAD Please,Assign this issue to me

[2021-08-04 16:47] aashimawadhwa commented on #430
I was not well from last week,
will send the PR today

[2021-08-05 03:09] Swastik1710 commented on #424
Please assign this issue to me.

[2021-08-05 04:27] QAZIMAAZARSHAD commented on #428
DCP or LGMSoC?

[2021-08-05 04:34] aasthasaxena217 commented on #428
LGMSoc

[2021-08-05 06:16] RiyaGupta89 commented on #432
What will the page include? @QAZIMAAZARSHAD

[2021-08-05 06:16] RiyaGupta89 commented on #423
Can I work on this issue?

[2021-08-05 06:18] RiyaGupta89 commented on #404
I want to work on this issue. But the footer contains a lot of text, will have to remove some text.

[2021-08-05 06:23] QAZIMAAZARSHAD commented on #432
Something like this

![image](https://user-images.githubusercontent.com/56196640/128301022-8a4d3626-3167-4cc2-84fe-39f3311708b4.png)

Refer to few websites or implement your own ideas.

There should be few inputs like -  Your token number
There should also be a disabled button to download the generated voter id card. Should be active only when the card is generated after a few stages.

[2021-08-05 06:28] QAZIMAAZARSHAD commented on #404
There is a lot of blank space also. Remove that.

I will assign you this issue once you resolve the other assigned issues.

[2021-08-08 12:02] RiyaGupta89 commented on #404
I have completed my assigned issue, can I work on this one now?
@QAZIMAAZARSHAD

[2021-08-10 05:23] shreyshreyansh opened #435 "I think writing two times "Select Language" is unnecessary"
![Screenshot 2021-08-10 105153](https://user-images.githubusercontent.com/53744971/128812505-145d9c28-379a-4f08-8a6a-8539736c8662.png)